[2018-02-02 15:18] emmairwin opened #2 "aligning with current work at Mozilla"
I wanted to understand how this is coming together.
I see influence from our shared work at Mozilla (great to see open demographics project includes) and in fact we are doing pilots right now on qualitative and quantitative community health baselines that with d&i as central. With considerations for privacy, risk, respect ,ethics and legality of measuring d&i.
How might we better align?

[2018-02-03 13:01] germonprez commented on #2
Hi @emmairwin -- We just had our BoF (CHAOSS: Exploring Open Source Project Diversity & Inclusion) accepted at the OS Leadership Summit. Details are below. From my perspective, I'd really love to start settling on the qualitative metrics that we can use to move our understanding of D&I forward. Basically, what are the right trace components that we can look at to start crafting a better understand

[2018-02-03 19:34] emmairwin commented on #2
Looking forward to talking more. Our processes right now starts with a base of research questions focused on identity(demographic diversity) leadership, contribution attributes (like prs) . from this base we are working with the community manager to prioritize and identify gaps.  Once our research questions are finalized we identify at all existing data sources ( surveys ,  bitergia)  which answer

[2018-02-03 19:58] emmairwin commented on #2
Leadership summit session looks great!

[2018-02-05 11:41] germonprez commented on #2
The ethics hasn't shown up explicitly in CHAOSS. In any interview that we do here from the university runs through our own ethics board to address the issues you bring up. Regarding the open trace data, much less so.

Your approach is great. I like the gap/triangulation approach towards the research questions. Do you work with things like participant-observation, netnography, or action research as

[2018-02-05 15:47] germonprez commented on #2
I think that we should focus on building out a roadmap

https://github.com/chaoss/wg_diversity_inclusion/pull/3

@GeorgLink started one here I think it would really help focus things.

[2018-02-05 19:55] emmairwin commented on #2
Looks good, thank you!

[2018-02-05 19:55] #2 closed

[2018-02-12 15:39] GeorgLink opened #5 "Rename repository to use dashes instead of underscores"
This is the only repository that has a different convention from other repositories.

[2018-02-12 15:40] germonprez commented on #5
+1. Consistency is good.

[2018-02-12 15:43] GeorgLink opened #6 "Define 'Path to Maintainership' and 'List Maintainers'"
Per proposal in chaoss/governance#5 :

TODO:
- Specify 'path to maintainership' for this repo in CONTRIBUTING.md file
- List current maintainers in README.md file

[2018-02-13 18:03] dicortazar commented on #5
Thanks for the pointer, I'll do this.

[2018-02-14 15:34] dicortazar commented on #5
Done! Thanks for your comments and report.

[2018-02-14 15:34] #5 closed

[2018-05-23 15:46] dicortazar opened #14 "Migrate Google Docs D&I GQM approach to this repository"
As there is an agreement about the current state of the goals, questions and metrics defined by the community, the next step is to write down this in the D&I working group.

This will use the same format as in the 'metrics' repository at [1].

Please consider either cleaning or removing the current README set of metrics.

[1] https://github.com/chaoss/metrics/blob/master/1_Diversity-Inclusion.md

[2018-05-23 16:07] GeorgLink opened #15 "Create a method that other communities can reproduce the report for themselves"
Idea: Write a tutorial on how to measure the diversity in an open source community.

The tutorial might be structured as follows:

1. Decide what dimensions of diversity are interesting (combination of questions and demographics).
  + Provide guidance for which elements (e.g., metric, diagram, or theoretical investigation) might be interesting for a community to know.
2. Direct the user to the app

[2018-05-25 21:47] emmairwin commented on #14
Reviewing the demographics list, I think it's incomplete in that we haven't

1. Articulated why these?
2. That we have, or intend to have as part of this process ethical, and legal best practices for when questions are asked, how data is stored and accessed.

Here were my notes going through this; I think it might be better @GeorgLink if you just merged your PR, and allowed me/us to submit PR's to

[2018-05-28 17:38] emmairwin commented on #14
you!Just to pull out something that might be super-visible in that comment.  @GeorgLink / @dicortazar can we please accept the initial commit for this file, so we don't need to use comments for proposed changes?  (then I can give better feedback via a PR).  thank

[2018-05-28 17:56] GeorgLink commented on #14
@emmairwin good idea. @dicortazar can you merge?

[2018-06-07 05:37] drashti4 commented on #6
You mean to create different file for CONTRIBUTING.md. As I can see there are two maintainers You and dicortazar. Do you want any other name to add like mentor or anything. I would love make PR for this.

[2018-06-07 12:17] GeorgLink commented on #6
Hi @drashti4

Thank you for picking this up. For a template of what I was thinking of, take a look at the [chaoss/metrics repository](https://github.com/chaoss/metrics/)

While I contribute to the repository, I prefer to **not** be a maintainer.

Thanks again,
Georg

[2018-06-08 10:49] dicortazar commented on #14
In somehow related to this, we decided in the last meeting to split the file produced at #17 to facilitate the discussion process. This is done in #20 .

[2018-06-10 01:09] emmairwin opened #27 "Write a Blog Post to Socialize Initial Goal-Metrrics for feedback."
I'll do this early in the week, was hoping I could benefit from Nicole's slides.  @GeorgLink are you able to send those  to me?

[2018-06-10 01:09] emmairwin commented on #27
Do you mind also adding me as a collaborator on this repo so I can assign myself tasks.  Thanks!

[2018-06-10 18:00] GeorgLink commented on #27
@emmairwin here you go: https://drive.google.com/file/d/1mZUC89UZXs_RQ9YUqJh3fBoYbSpErHwn/view?usp=drivesdk

[2018-06-13 08:42] dicortazar opened #32 "Produce a set of rules to contribute to the repository"
After reviewing some PRs, I've realized that we should have a common way of contributing either using the command line interface or directly using the GitHub interface. Some discussion at [1].

The following is a first set of steps we should consider when preparing a PR:
* Create a fork of the repo you want to contribute to
* Create a branch. If you already have the repo, please be sure that you h

[2018-06-13 12:30] dicortazar opened #33 "Discussion on the addition of "bugs suited for novices" in the Project Places Goal"
At the PR https://github.com/chaoss/wg-diversity-inclusion/pull/24, there was an ongoing discussion about having specific bugs suited for novices.

Comment by @aserebrenik on the PR by @emmairwin  "Some projects explicitly tag bugs suited for novices to facilitate the onboarding process. This is related to the discussion about the README in the Project places file."

The referenced Goal can be fou

[2018-06-13 12:49] GeorgLink commented on #32
Any chance we can use the CHAOSS-wide [CONTRIBUTING.md](https://github.com/chaoss/governance/blob/master/CONTRIBUTING.md) or improve it, so that we have a consistent approach throughout CHAOSS?

https://github.com/chaoss/governance/blob/master/CONTRIBUTING.md

[2018-06-13 12:49] dicortazar opened #34 "Discussion on adding extra sections on the demographics"
According to @serebrenik, we should discuss the following ideas: "I would also (1) separate sexual and romantic orientation and (2) add religion (or lack thereof) as a dimension."

Initial discussion at https://github.com/chaoss/wg-diversity-inclusion/pull/21

[2018-06-13 13:05] aserebrenik commented on #34
For distinction between sexual and romantic/affective orientation see Lisa M. Diamond "[What Does Sexual Orientation Orient? A Biobehavioral Model Distinguishing Romantic Love and Sexual Desire](https://www.researchgate.net/profile/Lisa_Diamond4/publication/10949788_What_Does_Sexual_Orientation_Orient_A_Biobehavioral_Model_Distinguishing_Romantic_Love_and_Sexual_Desire/links/587ae03708ae4445c0630b

[2018-06-15 19:38] akshitac8 commented on #32
Based on the comments can I generalise them to CONTRIBUTING.md file or we can also go with @GeorgLink  says both are really wonderful and exciting ways.
Do let me know the final say :smiley:

[2018-06-15 19:59] GeorgLink commented on #32
To clarify: the workgroup can establish its own set of rules and procedures. However, since pull requests and GitHub always work the same, we can improve the CHAOSS-wide CONTRIBUTING.md and link to it.

[2018-06-16 08:55] aserebrenik commented on #34
ACM has published Draft 3 of their code of ethics. Section 1.4 explicitly lists demographic aspects that should be taken into consideration. Examples of the aspects included in their list and absent from ours are labor union membership and military status. See https://ethics.acm.org/2018-code-draft-3/

[2018-06-16 17:51] akshitac8 commented on #32
Can I do that :)  ?

[2018-06-16 18:47] GeorgLink commented on #32
​Yes, feel free to go ahead. :-)

[2018-06-18 20:58] akshitac8 commented on #32
Should I refer to this [Contributing.md](https://github.com/chaoss/governance/blob/master/CONTRIBUTING.md) file right?

[2018-06-18 21:11] GeorgLink commented on #32
If you want to describe a generic workflow or process, then yes, the governance/CONTRIBUTING.md file is best place to refer to.

If you want to describe a working group specific workflow or process, then we should maintain our own documentation.

[2018-06-20 18:17] GeorgLink commented on #32
From today's discussion:

- How do we document our process and reference related works? The background of this conversation is motivated by that we build on the shoulders of giants and want to acknowledge that. Also, we want the resources that we produce to be taken up and provide evidence for why we have criteria in it.
+ We decided to put references inside the goal-question-metric files.
+ We de

[2018-06-20 18:34] GeorgLink opened #46 "Create templated Metric Detail Pages (Georg)"
From today's call:
- How do we make the goals and questions that we have actionable?
+ We decided to follow the Metric Detail Page format that NCWIT uses for resources. This contains four sections: 1) A motivation for why a metric is important; 2) Sample Objectives that a community might have when measuring a metric; 3) Sample Strategies that can be used for answering the question associated with

[2018-06-20 18:34] GeorgLink commented on #46
I assign myself.

[2018-06-21 23:35] akshitac8 commented on #32
Thank you for adding the comments. I will add these also :)

[2018-06-26 14:21] emmairwin opened #51 "Code of Conduct not visible"
Hey! Akshita and I were working on Code of Conduct metrics, and realized that we could not find a mention of CoC in README or in code,  we should add that!

[2018-06-26 14:32] GeorgLink commented on #51
The code of conduct can be found on GitHub and on our website.

https://chaoss.community/about/code-of-conduct/

https://github.com/chaoss/governance/blob/master/code-of-conduct.md
​

[2018-06-26 16:46] emmairwin commented on #51
We believe it should be findable at the top level of every repo.  Like
this:   https://github.com/mozilla/kuma/blob/master/CODE_OF_CONDUCT.md

An in fact our goal-metrics for CoC will set this as an objective in draft.

Request is to add a CODE_OF_CONDUCT.md at root, with link to CHAOSS CoC

On Tue, Jun 26, 2018 at 7:32 AM, Georg J.P. Link <notifications@github.com>
wrote:

--
-- Emma Irwin

[2018-06-26 17:28] GeorgLink commented on #51
Okay, we can do that.

[2018-06-27 14:08] akshitac8 commented on #51
Can I write that down?

[2018-06-27 14:50] emmairwin commented on #51
you can create a PR if you would like?

On Wed, Jun 27, 2018 at 7:08 AM, Akshita Gupta <notifications@github.com>
wrote:

--
-- Emma Irwin

[2018-06-28 12:59] akshitac8 commented on #51
Thank you :smiley:

[2018-06-29 20:35] emmairwin opened #54 "Organizes into folders"
I want to propose these files are organized into folders (vrs using prefix)
We may have other documents per goal-metric, and this helps us isolate and organize a bit better.  For example

FROM: project-places-documentation.md

TO:

Project-Places (Folder)
-> documentation.md
-> issue-tracker.md

Contribution (Folder)
-> filename.md

I also propose all goal-metrics documents in root go in a folder

[2018-06-29 20:37] GeorgLink commented on #54
That's fine. We can organize them in folders.

[2018-07-10 16:37] GeorgLink commented on #27
I think this is completed and can be closed.

[2018-07-15 17:31] GeorgLink opened #56 "belonging and inclusion survey template"
- http://fortune.com/2018/06/28/raceahead-how-to-tell-if-your-employees-feel-welcome-at-work/
- https://www.surveymonkey.com/mp/inclusion-survey-template/

This was [shared on Twitter](https://twitter.com/_sagesharp_/status/1018537501760184320) during CLSummit by [@\_sagesharp\_](https://twitter.com/_sagesharp_):

[2018-07-15 19:40] akshitac8 commented on #51
Should we close the issue?

[2018-07-15 19:42] akshitac8 opened #57 "Tools to evaluate PR Quality"
- [ ] State the tools that can be used to evaluate the PR quality.

[2018-07-15 19:42] akshitac8 commented on #57
Some of the tools to evaluate PR includes:
 - [ ] Travis
 - [ ] pep8 speaks
 - [ ] review-bot
 - [ ] sentiment-bot
@emmairwin @GeorgLink What do you suggest?

[2018-07-15 19:53] aserebrenik commented on #57
There are quite some academic studies relating features of the PR with likelihood of it to be merged or duration of the code review. If one is interested in shorter review periods or PRs that are more likely to be merged, one could look into this literature as well.

[2018-07-15 22:47] asarma opened #58 "Missing Information in Project Places (metric)"
Hello, I was reviewing our metrics on Project Places (https://github.com/chaoss/wg-diversity-inclusion/blob/master/goal_project_places.md) and I think we should include the following additional aspects in the document:
What do you think? Perhaps we can discuss this in our next call?

* Sample Objectives:
  * (Information Amount) Documentation provides information so that people gather as much info

[2018-07-15 22:49] asarma opened #59 "Sandbox for issues and PRs"
Hello, would it make sense to have a sandbox where newbies can first raise issues/create pull requests within our group before making it visible to the entire world?

[2018-07-16 01:08] GeorgLink commented on #59
I understand where you are coming from.

How would the mechanics work? Aren't all issues and pull requests public?
How would newbies get access if a repository was not public?
​

[2018-07-16 01:19] GeorgLink commented on #58
​Thanks Anita.

[2018-07-16 01:38] GeorgLink commented on #51
Yes. We now have the Code of Conduct in our repository.
​

[2018-07-16 09:45] akshitac8 commented on #57
Oh, Thank you @aserebrenik 😃

[2018-08-03 22:35] #51 closed

[2018-08-24 02:18] emmairwin commented on #57
@akshitac8 can we close this issue? Or you are still proposing?

[2018-09-03 22:07] emmairwin opened #66 "How to create a good goal-metric"
@GeorgLink In the [focus area template](https://github.com/chaoss/wg-diversity-inclusion/blob/master/templates/focus_area.md), I want to link to an example/directions/criteria for how to write a good goal-metric.  Do you have something like that?

[2018-09-03 23:14] GeorgLink commented on #66
I have not been keeping track of whether we were creating "good" goal-question-metric relationships. We might be trailblazers who set the standard for the CHAOSS project.

Below is not a definitive answer, but my thoughts on goal-question-metric formulation. I inform my musings through [Basili, Caldiera, and Rombach](http://www.cs.umd.edu/~mvz/handouts/gqm.pdf).

A good goal should detail:
- Issue

[2018-09-04 20:33] emmairwin commented on #66
This is great , thank you.

[2018-09-04 20:47] GeorgLink commented on #66
I mentioned this issue in the weekly meeting today. We may have other
CHAOSS members join us tomorrow to discuss with us how to write good
goal-question-metrics.

[2018-09-08 15:00] GeorgLink opened #67 "Bechdel test metric"
Tobie Langel shared a [tweet](https://twitter.com/amandaksilver/status/1038043794984194048?s=21) on the mailing list about adopting the Bechdel Test to Open Source.

I had to look up Bechdel test and include here what I found:

The tweet Tobie referred to states:

I read this to require for a pull request (assuming GitHub):
- A woman creates the pull request
- A woman maintainer accepts and merges

[2018-09-08 15:29] tobie commented on #67
@amandasilver is the author of the original tweet.

[2018-09-08 17:14] aserebrenik commented on #67
As opposed to books and movies where the characters are assigned to do something or say something by the book/movie creators, pull requests are usually open for participation of anybody and developers can decide themselves whether they contribute or not, i.e., when movie/book characters do not have agency, developers do. Yet another difference is that many pull requests are not being reviewed at a

[2018-09-19 17:30] GeorgLink opened #70 "Develop Research Page: Project Places - Documentation"
This issue is for coordinating around developing the resource page for Project Places Documentation.

The resource page lives in the following google document for easy editing, commenting, and revision:
https://docs.google.com/document/d/1OaKDksmuoi6nhaduZ4F96mTwQJvIFnfI8BqLx4MRO38/edit?usp=sharing

Once the page is in a decent shape, we will put a copy of it in the repository as a markdown file.

[2018-09-19 17:46] GeorgLink opened #71 "Develop Research Page: Project Places - Issue Tracker"
This issue is for coordinating around developing the resource page for **Project Places - Issue Tracker**.

The resource page lives in the following google document for easy editing, commenting, and revision:
https://docs.google.com/document/d/1s0R-ira9guSQU6dVQVV3AOgs2o1VWgJ3kpBbi5WCfPI/edit?usp=sharing

Once the page is in a decent shape, we will put a copy of it in the repository as a markdown

[2018-09-19 17:49] GeorgLink opened #72 "Develop Resource Page: Project Places - Communication Channels"
This issue is for coordinating around developing the resource page for **Project Places - Communication Channels**.

The resource page lives in the following google document for easy editing, commenting, and revision:
https://docs.google.com/document/d/1quMb1e2Hsm6hPf6G4vY6JtS3GUGv9vBZ7JBcuzuCiFs/edit?usp=sharing

Once the page is in a decent shape, we will put a copy of it in the repository as a

[2018-09-21 18:04] emmairwin opened #73 "Gitter or other chat method"
Hi,

I would like to propose one of two things so we are better, and more easily connected.

1. Mailing list for this WG - so we can send informal discussions without triggering bigger debates.

2. Gitter chat, which can connect to this repo (have used before and like).

[2018-09-21 18:10] emmairwin commented on #71
Thanks for creating this

[2018-09-21 18:13] GeorgLink commented on #73
+1.

We can also make the case that we have several people only interested in
the communication around this workgroup and not CHAOSS in whole. Most
communication does not overlap and thus we would have little need for
crossposting.

(Neutral)
I have not used Gitter before. Would be willing to try it.

Do we need both: a mailing list and gitter? Or can we consolidate into one?
-- I like to keep thi

[2018-09-23 14:01] GeorgLink opened #74 "Maintainability: Clean and Clear Code"
We have documentation as a metric, maybe maintainability is also relevant.

Maintainability:

Full reference: https://www.yegor256.com/2018/09/12/clear-code.html

[2018-09-23 14:38] aserebrenik commented on #74
I'm not sure how is this related to D&I: would you like to stress that people with different backgrounds, genders etc should _all_ be able to fix the bug in 30 minutes? This seems to be a rather extreme definition of maintainability as in practice developers would be (more or less) familiar with the code they are expected to maintain...

[2018-09-23 15:03] GeorgLink commented on #74
Thanks Alexander, good question.

Here is my reflection of what I thought:

I was not thinking about diversity here.
I assumed that creating an inclusive community involves reducing barriers
to participation.
I thought this "maintainability test" could indicate one barrier of entry
that is intrinsic to the code cleanliness and clarity.

[2018-09-24 07:28] aserebrenik commented on #74
This is a good point; however, "cleanliness and clarity" might be in the eye of the beholder, at least to some extent. Margaret Burnett and her team has worked on GenderMag to identify "gender bugs" in software. Based on differences in problem solving strategies of women and men they have created several personas representing those strategies, e.g., Abby embeds strategies more common among women a

[2018-09-24 11:56] GeorgLink commented on #74
I like the idea of applying a GenderMag approach beyond the user interface
to include source code.

[2018-09-28 16:24] GeorgLink opened #77 "Develop Resource Page: Governance - Foundation Staff Diversity"
This issue is for coordinating around developing the resource page for **Governance - Foundation Staff Diversity**.

The resource page lives in the following google document for easy editing, commenting, and revision:
https://docs.google.com/document/d/101e0JlHwxXNXH8dfaiZTEWjgG-YshBESao75PWHJaZA/edit?usp=sharing

Once the page is in a decent shape, we will put a copy of it in the repository as a

[2018-09-28 16:26] GeorgLink opened #78 "Develop Resource Page: Governance - Board/Council Diversity"
This issue is for coordinating around developing the resource page for **Governance - Board/Council Diversity**.

The resource page lives in the following google document for easy editing, commenting, and revision:
https://docs.google.com/document/d/13toY8vWR5OGwiuLKzI7cmhnjqc7H8L9u-iUyRmE9egg/edit?usp=sharing

Once the page is in a decent shape, we will put a copy of it in the repository as a mar

[2018-09-28 16:27] GeorgLink opened #79 "Develop Resource Page: Governance - Code of Conduct"
This issue is for coordinating around developing the resource page for **Governance - Code of Conduct**.

The resource page lives in the following google document for easy editing, commenting, and revision:
https://docs.google.com/document/d/1DGiBT3lUaIcNJBsDICsliJPNumOglzFPGJKnWiU3pD0/edit?usp=sharing

Once the page is in a decent shape, we will put a copy of it in the repository as a markdown fi

[2018-09-28 16:28] GeorgLink opened #80 "Develop Resource Page: Governance - Code of Conduct Enforcement"
This issue is for coordinating around developing the resource page for **Governance - Code of Conduct Enforcement**.

The resource page lives in the following google document for easy editing, commenting, and revision:
https://docs.google.com/document/d/1O__IONyNX8KRlkwSgmPIvOuzx8M01WUr2gZy2j3cF7w/edit?usp=sharing

Once the page is in a decent shape, we will put a copy of it in the repository as a

[2018-09-28 16:30] GeorgLink opened #81 "Develop Resource Page: Governance - Team/Module Ownership Diversity"
This issue is for coordinating around developing the resource page for **Governance - Team/Module Ownership Diversity**.

The resource page lives in the following google document for easy editing, commenting, and revision:
https://docs.google.com/document/d/1How8BisNtZs7_coUonDA_99arbcXEZzyaOlxLMrbDBw/edit?usp=sharing

Once the page is in a decent shape, we will put a copy of it in the repository

[2018-09-28 16:46] GeorgLink opened #82 "Develop Resource Page: Governance - Path to Influence"
This issue is for coordinating around developing the resource page for **Governance - Path to Influence**.

The resource page lives in the following google document for easy editing, commenting, and revision:
https://docs.google.com/document/d/1g3zMQpBgieUzkJN8Zw9QBgyStDmjCiw5NQaaMoM7hF0/edit

Once the page is in a decent shape, we will put a copy of it in the repository as a markdown file.

To wo

[2018-09-28 16:55] GeorgLink opened #83 "Develop Resource Page: Event Diversity - Speaker Demographics"
This issue is for coordinating around developing the resource page for **Event Diversity - Speaker Demographics**.

The resource page lives in the following google document for easy editing, commenting, and revision:
https://docs.google.com/document/d/17Lc7cn2c18OP-nEDB2ioJ2bOIDRy2SEFju-42zJNDeI/edit?usp=sharing

Once the page is in a decent shape, we will put a copy of it in the repository as a m

[2018-09-28 16:58] GeorgLink opened #84 "Develop Resource Page: Event Diversity - Attendees Demographics"
This issue is for coordinating around developing the resource page for **Event Diversity - Attendees Demographics**.

The resource page lives in the following google document for easy editing, commenting, and revision:
https://docs.google.com/document/d/1psK_UH5uLeiVHagpoJbCtm8dF1nIshfCx6qXXJWe4yc/edit?usp=sharing

Once the page is in a decent shape, we will put a copy of it in the repository as a

[2018-09-28 17:01] GeorgLink opened #85 "Develop Resource Page: Event Diversity - Diversity Access Tickets"
This issue is for coordinating around developing the resource page for **Event Diversity - Diversity Access Tickets**.

The resource page lives in the following google document for easy editing, commenting, and revision:
https://docs.google.com/document/d/1Gs1xm_-ojc6Y32pYmtdbROnMa81ux_RiK8aeXU43QtE/edit?usp=sharing

Once the page is in a decent shape, we will put a copy of it in the repository as

[2018-09-28 17:08] GeorgLink opened #86 "Develop Resource Page: Event Diversity - Code of Conduct at Event"
This issue is for coordinating around developing the resource page for **Event Diversity - Code of Conduct at Event**.

The resource page lives in the following google document for easy editing, commenting, and revision:
https://docs.google.com/document/d/1XKrsbVCPA5dqEfOnMVRyRcjqRNS05icKLojdgQawph0/edit?usp=sharing

Once the page is in a decent shape, we will put a copy of it in the repository as

[2018-09-28 17:12] GeorgLink opened #87 "Develop Resource Page: Event Diversity - Kid Friendliness"
This issue is for coordinating around developing the resource page for **Event Diversity - Kid Friendliness**.

The resource page lives in the following google document for easy editing, commenting, and revision:
https://docs.google.com/document/d/1jiylWjkLm04paBcflkNn0-yahvy958ShiUbrKrG20Zs/edit?usp=sharing

Once the page is in a decent shape, we will put a copy of it in the repository as a markd

[2018-09-29 19:53] emmairwin commented on #80
I'll take this one, as it's related to work I am already doing at Mozilla.

[2018-09-29 19:53] emmairwin commented on #79
I'll also take this one

[2018-09-29 19:54] emmairwin commented on #73
Lets start with a mailing list, will setup now..

[2018-10-01 13:27] geekygirldawn commented on #83
I've done the 1st draft of this google doc

[2018-10-01 13:54] GeorgLink commented on #73
To setup a mailing list, we would go through the Governing Board to ask the LF. @germonprez could help us.

How about, instead of a mailing list, use the GitHub Team Discussions for our purpose? https://blog.github.com/2017-11-20-introducing-team-discussions/

[2018-10-02 02:18] emmairwin commented on #67
Which focus area do you think this belongs in?

[2018-10-02 16:13] emmairwin commented on #73
Sure, happy to try Team Discussions!

[2018-10-03 07:03] geekygirldawn commented on #84
First draft is done (see Google Doc).

[2018-10-04 18:22] GeorgLink opened #231 "Community Metrics: Share of Voice"
I came across a metric that I consider worth sharing: Share of Voice

Source: https://medium.com/@mbbroberg/community-metrics-share-of-voice-b51d15f38366

This was not on my radar and I don't think we have it on our list of metics (haven't checked though).

[2018-10-05 02:09] emmairwin commented on #86
In #80 O often reference events.
If this were code architecture, I would
Suggest that Code of Conduct for events   'Inherits' Code of Conduct, and then has specifics for events.

[2018-10-05 02:52] emmairwin commented on #73
https://github.com/orgs/chaoss/teams/di-working-group/discussions

Team discussions, email sen to list - lets try it.

[2018-10-05 06:43] geekygirldawn commented on #86
Agreed! My plan was to talk only about the event-specific bits of the code of conduct and the impact on event D&I. We can link to the other docs under governance that contain more CoC information.

[2018-10-05 11:43] GeorgLink commented on #86
Good idea +1

[2018-10-09 21:51] dicortazar commented on #78
I've added a few comments on top of the existing document.

[2018-10-09 21:52] dicortazar commented on #81
Just filled a first version of the document based on the existing skeleton and description.

[2018-10-09 21:55] dicortazar commented on #77
I've left a couple of comments, but there was already some work done.

[2018-10-10 05:39] aserebrenik commented on #78
One of the strategies to ensure representativeness is open election of the board members.

[2018-10-10 12:33] dicortazar commented on #78
@aserebrenik , would you say that this is a good policy to be more inclusive? This might be helpful to be part of the qualitative set of metrics in the 'Sample Success Metrics' section.

[2018-10-10 14:41] aserebrenik commented on #78
@dicortazar not necessarily so. One of the objectives is "A project member needs to know that someone in the board or council is representing their interest": elections can help with ensuring that the interests of (some of) the project participants are represented. However, as elections go, they do not necessarily further diversity/inclusion since the majority can easily elect the candidates repre

[2018-10-15 14:58] geekygirldawn commented on #85
Someone did a lot of work on this one - Thank you! I added a few more things, so this is ready to review.

[2018-10-15 15:06] geekygirldawn commented on #87
This one was off to a good start, so I did a bit of minor cleanup and now it's ready for review.

[2018-10-15 15:38] GeorgLink commented on #77
@dicortazar is this complete and ready for review or do you have additional ideas you want to add first?

[2018-10-15 15:42] GeorgLink commented on #78
Thanks @aserebrenik and @dicortazar  --- I added a method for observing open elections and made a comment referencing this thread. Take a look and see if this is helpful.

[2018-10-15 15:50] GeorgLink commented on #79
Thanks @emmairwin.

Question: Mozilla’s Code of Conduct Assessment Tool appears to be a good resource to evaluate your own code of conduct and fix common issues. Is the next step to develop a check-list or another way to capture the degree of quality? Similar to CII Badge? --- Or is that besides the point?

[2018-10-15 15:57] GeorgLink commented on #82
I fixed the URL in the original issue message, which had led to the wrong document. -- My apologies.

@emmairwin good question. I think that the name "path to leadership" is easier to grasp. Influence sounds more broad but I don't think it helps us in any way and we should go for the low hanging fruits (i.e., leadership) first. --- Should we change the title of this or is there another page you ar

[2018-10-15 16:07] aserebrenik commented on #79
A couple of points:
* Tourani, Adams, Serebrenik Code of Conduct in Open Source Projects. 24th IEEE International Conference on Software Analysis, Evolution, and Reengineering, pp. 24-33, 2017 http://www.win.tue.nl/~aserebre/SANER2017.pdf
* Dobson Why Ethics Codes Don't Work Financial Analysts Journal Vol. 59, No. 6 (Nov. - Dec., 2003), pp. 29-34 https://www.jstor.org/stable/4480525?seq=1#page_sca

[2018-10-16 15:30] emmairwin commented on #82
The thing is,    we have to be careful here about saying there is any one path to leadership, because that might skew to a certain ability, available time etc.   Maybe we park this one until we have done more work on inclusive leadership attributes first?

[2018-10-17 16:34] emmairwin opened #95 "Add resource page to templates folder"

[2018-10-17 16:36] emmairwin opened #96 "Remove zero 0. from resources page (for question) but leave as a header"
In our meeting we decided the heading was good for questions, but not the zero.

[2018-10-17 16:42] geekygirldawn commented on #83
Pull request merged. This page is now at https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus_areas/events/speaker_demographics.md as a work in process. We encourage people to submit pull requests with improvements.

[2018-10-17 16:58] emmairwin commented on #96
@dicortazar can you also please remove #author header, we don't need this (commits indicate author)

[2018-10-17 17:53] GeorgLink commented on #96
I created a pull request for this.

[2018-10-17 18:13] GeorgLink commented on #82
I'm okay with postponing this for now.

I agree that we should not champion any one way but rather try to capture whether a project has a "path to leadership".

[2018-10-17 21:41] #96 closed

[2018-10-18 16:02] #95 closed

[2018-10-18 16:07] emmairwin opened #101 "File Naming Standard"
I notice that we are naming files one of two ways:

with-dashes.md
with_underscores.md

I would like to propose the standard be for dashes.   If there is agreement, then the task is to update all files with underscores to dashes.

Thanks

[2018-10-18 16:30] #85 closed

[2018-10-18 16:30] #86 closed

[2018-10-18 16:30] #87 closed

[2018-10-18 17:16] emmairwin commented on #6
@GeorgLink is this still relevant?

[2018-10-18 17:36] GeorgLink commented on #6
Yes, this appears to be relevant.

I could not find documentation (README.md and CONTRIBUTING.md) on how to become a maintainer for the D&I repository.

[2018-10-18 18:19] emmairwin commented on #101
Once we agree, this would be an easy first task for a new contributor.

[2018-10-18 18:45] GeorgLink commented on #101
+1 for consistency
+1 for same standard use of dashes as wg-gmd
+1 good first issue

[2018-10-21 19:15] #82 closed

[2018-10-25 18:32] vjanicki commented on #67
{Late to the Party}  There may be an misinterpretation here. I would say the Bechdel test for OSS would be that, during the lifetime of a PR,  2 or more women have participated in the discussion and activity around the PR. Ideally at at least 1 point in time, the women interact with each other.  This could be the creation, acceptance, commenting, reviewing or merging steps.  This does not preclude

[2018-10-25 21:15] emmairwin commented on #67
I like this version.
How would we measure is always tbr question as gender is not always clear
or purposely hidden/anonymous.

On Thu, 25 Oct 2018, 1:33 PM vjanicki, <notifications@github.com> wrote:

[2018-10-25 21:29] aserebrenik commented on #67
Moreover, whether the gender is identifiable or not might change in time. However, this problem is present in any kind of automatic gender analysis of repository data.

We can redefine this test to refer to non-men as opposed to women. This would also include both non-binary individuals and individuals that prefer not to disclose their gender.

[2018-10-26 01:52] emmairwin commented on #67
Yes!

On Thu, 25 Oct 2018, 4:29 PM Alexander Serebrenik, <notifications@github.com>
wrote:

[2018-11-01 15:17] #79 closed

[2018-11-11 10:23] geekygirldawn opened #107 "CHAOSSCON Panel Submission Review"
I've created a [Google Doc where we can collaborate on our CHAOSSCon D&I Panel Submission](https://docs.google.com/document/d/1bdZyAsFmBRq2XvYSvSJfOkRq1gPTAKy9PERlyrItjik/edit). It's an updated version of what was submitted for CHAOSSCon NA.

We should also decide whether to also submit this to the FOSDEM Community Devroom?

cc: @emmairwin @GeorgLink @dicortazar

[2018-11-12 15:46] GeorgLink opened #108 "CHAOSScon Proposal: D&I Tutorial"
https://docs.google.com/document/d/16-M2hsv4wwnk5GpDSFLc8EQVNAGkfB7k1GagM4aQ6Kw/edit

Who is going and can do the tutorial?

/cc @emmairwin @dicortazar @geekygirldawn

[2018-11-16 16:29] GeorgLink commented on #46
We already have this!

[2018-11-16 16:29] #46 closed

[2018-11-16 16:34] GeorgLink opened #109 "Develop Resource Page: Communication Inclusivity: Alternatives"
This issue is for coordinating around developing the resource page for **Communication Inclusivity: Alternatives**.

The resource page lives in the following google document for easy editing, commenting, and revision:
https://docs.google.com/document/d/1e0Y0BhKqEeZeMpcttdFH8Q9NOq-Q6zp78aW-_65hMpc/edit?usp=sharing

Once the page is in a decent shape, we will put a copy of it in the repository as a

[2018-11-16 16:36] GeorgLink opened #110 "Develop Resource Page: Communication Inclusivity: Technical Jargon"
Develop Resource Page: Communication Inclusivity: Technical Jargon

This issue is for coordinating around developing the resource page for **Communication Inclusivity: Technical Jargon**.

The resource page lives in the following google document for easy editing, commenting, and revision:
https://docs.google.com/document/d/1t2P67jUWcoWUvhz1M2pfA6q7Pe16OWGyJNsTOBSDjcg/edit?usp=sharing

Once the pag

[2018-11-16 16:38] GeorgLink opened #111 "Develop Resource Page: Communication Inclusivity: Captioning"
This issue is for coordinating around developing the resource page for **Communication Inclusivity: Captioning**.

The resource page lives in the following google document for easy editing, commenting, and revision:
https://docs.google.com/document/d/1eIXfiXkpTa6YdiAEbEMOkGLTPYlYYXuWc_O7DaM2EE4/edit?usp=sharing

Once the page is in a decent shape, we will put a copy of it in the repository as a ma

[2018-11-16 16:39] GeorgLink opened #112 "Develop Resource Page: Communication Inclusivity: Mode Alternatives"
This issue is for coordinating around developing the resource page for **Communication Inclusivity: Mode Alternatives**.

The resource page lives in the following google document for easy editing, commenting, and revision:
https://docs.google.com/document/d/1z3v374eXIcAd6Fr3Y-J9qflFiunr5KTYoIscdSIPxWg/edit?usp=sharing

Once the page is in a decent shape, we will put a copy of it in the repository

[2018-11-16 16:40] GeorgLink opened #113 "Develop Resource Page: Communication Inclusivity: Speaking"
This issue is for coordinating around developing the resource page for **Communication Inclusivity: Speaking**.

The resource page lives in the following google document for easy editing, commenting, and revision:
https://docs.google.com/document/d/1hwtXIUAvZzpd38vFdH-iQDa95RCgFo_2f8a6lGzTzRc/edit?usp=sharing

Once the page is in a decent shape, we will put a copy of it in the repository as a mark

[2018-11-16 16:41] GeorgLink opened #114 "Develop Resource Page: Communication Inclusivity: Listening"
This issue is for coordinating around developing the resource page for **Communication Inclusivity: Listening**.

The resource page lives in the following google document for easy editing, commenting, and revision:
https://docs.google.com/document/d/1YHs1r-NHRTv1XoOcC-EnGDoo5tmYl-0WzfGuYmFbpEs/edit?usp=sharing

Once the page is in a decent shape, we will put a copy of it in the repository as a mar

[2018-11-16 16:45] GeorgLink opened #115 "Develop Resource Page: Contributions: Collaboration Style"
This issue is for coordinating around developing the resource page for **Contributions: Collaboration Style**.

The resource page lives in the following google document for easy editing, commenting, and revision:
https://docs.google.com/document/d/1yx_EJO5lSnjeFji7__8kAaecDIRqFP95xkZm6GhOgxc/edit?usp=sharing

Once the page is in a decent shape, we will put a copy of it in the repository as a markd

[2018-11-16 16:46] GeorgLink opened #116 "Develop Resource Page: Contributions: Contribution-Type"
This issue is for coordinating around developing the resource page for **Contributions: Contribution-Type**.

The resource page lives in the following google document for easy editing, commenting, and revision:
https://docs.google.com/document/d/1FJNsWimNN4KUgtCeq6z3etY_x3KJOrA376gCtOCIkzg/edit?usp=sharing

Once the page is in a decent shape, we will put a copy of it in the repository as a markdow

[2018-11-16 16:47] GeorgLink opened #117 "Develop Resource Page: Contributions: Perceived Value"
This issue is for coordinating around developing the resource page for **Contributions: Perceived Value**.

The resource page lives in the following google document for easy editing, commenting, and revision:
https://docs.google.com/document/d/12UcHlVgP2AA55SbQj1gwWa_8IcQKrIaIJg6Jpy6D0BA/edit?usp=sharing

Once the page is in a decent shape, we will put a copy of it in the repository as a markdown

[2018-11-16 16:48] GeorgLink opened #118 "Develop Resource Page: Contributions: Contribution Sentiment"
This issue is for coordinating around developing the resource page for **Contributions: Contribution Sentiment**.

The resource page lives in the following google document for easy editing, commenting, and revision:
https://docs.google.com/document/d/1oLr2kWKKbR8Vx7NrZ2xHXZ12cYN0vaqp1zehmF0IcKc/edit?usp=sharing

Once the page is in a decent shape, we will put a copy of it in the repository as a ma

[2018-11-16 18:42] GeorgLink opened #119 "Develop Resource Page: Leadership: Leadership Principles"
This issue is for coordinating around developing the resource page for **Leadership: Leadership Principles**.

The resource page lives in the following google document for easy editing, commenting, and revision:
https://docs.google.com/document/d/1oLr2kWKKbR8Vx7NrZ2xHXZ12cYN0vaqp1zehmF0IcKc/edit?usp=sharing

Once the page is in a decent shape, we will put a copy of it in the repository as a markdo

[2018-11-16 18:44] GeorgLink opened #120 "Develop Resource Page: Leadership: Mentorship"
This issue is for coordinating around developing the resource page for **Leadership: Mentorship**.

The resource page lives in the following google document for easy editing, commenting, and revision:
https://docs.google.com/document/d/1pQnnbkDrVbZK_sJ8Nl84ijwxfHSmUNMwIDe5dVJ2pf4/edit?usp=sharing

Once the page is in a decent shape, we will put a copy of it in the repository as a markdown file.

T

[2018-11-16 18:45] GeorgLink opened #121 "Develop Resource Page: Leadership: Onboarding"
This issue is for coordinating around developing the resource page for **Leadership: Onboarding**.

The resource page lives in the following google document for easy editing, commenting, and revision:
https://docs.google.com/document/d/1mISDVKvxOTyJNz7LQ1Nh_aJ3KRskn5qRnPZzxSQokwk/edit?usp=sharing

Once the page is in a decent shape, we will put a copy of it in the repository as a markdown file.

T

[2018-11-16 18:50] GeorgLink opened #122 "What focus area should "Contribution Type" be in? (comment: Focus area 'recognition of good work'?)"
We currently list "Contribution Type" in:
- Contributor Community Diversity
- Recognition of Good Work

Could we merge "Recognition of Good Work" with "Contributor Community Divesity" for the metrics `Contribution Type` and `Contribution Volume`, and with "Leadership" for the metrics `Recognition Type` and `Recognition Value`?

[2018-11-16 18:51] GeorgLink commented on #122
I refrain from creating issues for Recognition of Good Work resource pages, until we decide on this.

[2018-11-24 22:12] emmairwin opened #123 "Document WG Goals Proposal for 2019"
Proposal Objectives and Key Results for WG in 2019

Some Questions to Answer
*  is the problem this working group is trying to solve?
* Why does it matter?
* Why does it matter to CHAOSS, and is there clear alignment?
* What then, is the objective CHAOSS D&I working group ties their goals and work towards in 2019?
* What are the Key Metrics for that objective ?

[2018-11-24 22:14] #80 closed

[2018-11-24 22:46] emmairwin commented on #123
First draft for discussion in Monday call

https://docs.google.com/document/d/1_rwp6f0teAyXZFkJien7nsmV2FankZDhLk9UmrT48vw/edit#

[2018-11-24 22:52] emmairwin commented on #123
Initial draft  (without Key Results yet)

https://docs.google.com/document/d/1_rwp6f0teAyXZFkJien7nsmV2FankZDhLk9UmrT48vw/edit#heading=h.afrr9xwu1zby

[2018-11-25 15:57] GeorgLink commented on #123
Thanks for putting this together @emmairwin I added comments in preparation for our call tomorrow.

[2018-11-26 15:54] GeorgLink commented on #108
Daniel submitted it.

[2018-11-26 15:54] #108 closed

[2018-11-26 16:54] geekygirldawn commented on #107
Submitted to the FOSDEM Community devroom and CHAOSSCon EU.

[2018-11-26 16:54] #107 closed

[2018-11-28 16:41] emmairwin commented on #114
This is an excellent resource to help with this

https://docs.openstack.org/doc-contrib-guide/non-native-english-speakers.html#reading

[2018-11-29 01:22] emmairwin opened #126 "Recognize Non-Technical (and non-repo) contribution"
Living by our metrics, I realize that 'who' has contributed to this project, beyond pull requests and comments is not clear.  And it should be.

I would like to see Nicole, and other core contributors (past and present) listed more centrally.
and also a way we track all contributions (like comments in our docs). Thoughts?

[2018-11-29 15:00] GeorgLink commented on #123
@emmairwin I tried to help by brainstorming key results for each objective. You may discard or change them freely - I am not married to any of these ideas.

[2018-11-29 17:38] geekygirldawn opened #127 "Standardize README format between working groups."
Use [Richard Litt's Best Practices for README](https://github.com/RichardLitt/standard-readme), and make sure we have some similarity between the 2 WGs.

cc: @BenLloydPearson

[2018-11-29 22:35] SarahKConway commented on #123
I made a few suggestions to the proposal, including another project to consider. I work on marketing at the Linux Foundation and am helping with our organization's D&I activities and involvement.

[2018-11-30 00:03] emmairwin commented on #126
I would suggest because we are small right now, core contributors are people who are regular participants (once a month or more).

And that we just become more diligent about keeping a list of name who show up, contribute but are not actively participating.

And build fromthere.

[2018-11-30 00:18] GeorgLink commented on #126
+1

[2018-11-30 07:44] geekygirldawn commented on #126
I like the idea of keeping a list of core contributors, and people who participate at least once a month sounds about right.

How about this as criteria for being added to the "core contributors": Participate at least once per month over a period of 3 months. Participation could include providing feedback in the weekly D&I meetings, providing feedback on docs, or making other contributions on GitH

[2018-11-30 11:53] germonprez commented on #126
I went back through the D&I weekly meetings (just looking at the screen captures) and I think this is good. It does make me think that I need to do a better job of encouraging people to participate in the work groups.

[2018-11-30 22:43] BenLloydPearson commented on #127
Thanks @geekygirldawn

# Readme.md Structure
* Intro - Needs a one-line description, one paragraph description, and a short section that links to GMD metrics repo and explains how this repo fits into overall CHAOSS metrics effort.
* Table of Contents - Clickable links at the top are a lifesaver :-)
* Background - Should mostly stay the same, the Roadmap/current work content will be moved to anothe

[2018-12-02 11:33] geekygirldawn commented on #126
I've submitted a pull request to add the contributors section to the readme: https://github.com/chaoss/wg-diversity-inclusion/pull/128

[2018-12-02 18:06] GeorgLink opened #129 "Idea: How to present our metrics"
I just came across the [Open Design Kit](http://opendesignkit.org/) and found their presentation to resonate with how I imagine we could present our metrics and detail pages.

Specifically:
- Focus areas are at the top to allow filtering.
- Each metric gets a panel with a short description (question).
- When clicking a panel, the detail page opens.

This reduces the navigation within the metrics a

[2018-12-02 20:42] GeorgLink commented on #126
Thanks @germonprez and @geekygirldawn. I added to #128 a list of 'all contributors' (to the best of my recollection, based on past emails, and based on past commit contributions).

[2018-12-02 21:02] GeorgLink opened #132 "Develop Resource Page: Leadership: Leadership Diversity"
An interview partner pointed out that we currently do not have "Leadership Diversity" but that it is an important metric. This issue is a proposal to add the metric.

This issue is for coordinating around developing the resource page for **Leadership: Leadership Diversity**.

The resource page lives in the following google document for easy editing, commenting, and revision:
https://docs.google.co

[2018-12-02 21:35] GeorgLink opened #135 "Develop Resource Page: Leadership: Sponsorship"
An interview partner pointed out that we currently do not have "Sponsorship" alongside mentorship but that it is an important and emerging metric. This issue is a proposal to add the metric.

This issue is for coordinating around developing the resource page for **Leadership: Sponsorship**.

The resource page lives in the following google document for easy editing, commenting, and revision:
https:

[2018-12-02 21:35] dicortazar commented on #81
After reviewing this issue, the document was already merged at https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus_areas/governance/team_module_ownership_diversity.md

I've checked that this follows the required template.

I think we can close this ticket.

[2018-12-02 21:38] dicortazar commented on #78
After reviewing this ticket, I've realized that this was already merged.

The existing doc at https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus_areas/governance/board_council_diversity.md follows the required template.

We may want to close this ticket.

[2018-12-02 21:40] dicortazar commented on #77
After reviewing the issue, I've realized that there's already a merged version of this. And this follows the required template: https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus_areas/governance/foundation_staff_diversity.md.

We may want to close this issue.

[2018-12-02 21:42] dicortazar commented on #78
Closing this ticket as this was already resolved. Thanks to all for your valuable comments and please feel free to re-open the ticket if there's anything missed.

[2018-12-02 21:42] #78 closed

[2018-12-02 21:43] dicortazar commented on #77
Closing this ticket as this was already resolved. Thanks to all for your valuable comments and please feel free to re-open the ticket if there's anything missed.

[2018-12-02 21:43] #77 closed

[2018-12-02 21:43] dicortazar commented on #81
Closing this ticket as this was already resolved. Thanks to all for your valuable comments and please feel free to re-open the ticket if there's anything missed.

[2018-12-02 21:43] #81 closed

[2018-12-03 07:51] geekygirldawn commented on #135
This is great! I made a few comments and suggestions in the doc.

[2018-12-03 15:13] GeorgLink commented on #135
Thank you @geekygirldawn for the edits and comments. I approved all of them and addressed your comment. Please review if the sentence makes sense now.

[2018-12-03 15:14] GeorgLink commented on #78
Thanks @dicortazar

[2018-12-03 15:14] GeorgLink commented on #77
Thanks @dicortazar

[2018-12-03 15:14] GeorgLink commented on #81
Thanks @dicortazar

[2018-12-03 15:15] geekygirldawn commented on #135
Looks great!

[2018-12-03 15:58] GeorgLink commented on #126
We merged the pull request #128.
The readme now has our current definitions.

Is there any more need for discussion?
Are there other things we can do to highlight (track) contributions?

[2018-12-10 16:53] GeorgLink opened #143 "Anything to save from chaoss/metrics D&I category page?"
Before we started the D&I workgroup, the CHAOSS project had collected [metrics in the D&I category](https://github.com/chaoss/metrics/blob/master/1_Diversity-Inclusion.md). Before this page is deleted, we should make sure we do not lose anything valuable.

Please check the [chaoss/metrics D&I category page](https://github.com/chaoss/metrics/blob/master/1_Diversity-Inclusion.md) if there is anythin

[2018-12-10 16:53] GeorgLink commented on #143
The second set of metrics "Organizational Diversity" is currently not represented by the D&I Workgroup. Pull request #142 offers a possible solution.

[2018-12-10 16:59] GeorgLink commented on #143
Whatever worth saving, we would incorporate into [our repository.](https://github.com/chaoss/wg-diversity-inclusion/tree/master/focus_areas)

[2018-12-12 22:08] GeorgLink commented on #116
I want to acknowledge that almost all of the ideas that went into the creation of this draft come from people I interviewed. I will ask permission to list them as contributors and create pull requests accordingly.

[2018-12-15 18:14] GeorgLink opened #149 "License on repository not complient with CHAOSS charter"
The CHAOSS charter states in section 8.2.3:

I never noticed it, but our workgroup repository has a GPL-3.0 license.

This issue is to discuss whether we can change the license in the repository, since it should have been MIT from the beginning but people contributed, maybe thinking it was GPL-3.0.

[2018-12-16 09:41] geekygirldawn commented on #149
Because decisions about relicensing are pretty complex and might have legal ramifications for The Linux Foundation, we definitely need to get LF legal counsel involved in making this decision. Maybe @kestewart can help pull someone to represent the LF from a legal perspective into this thread?

[2018-12-16 09:43] geekygirldawn commented on #149
I've also removed the good first issue label, since this decision has potential legal ramifications stretching beyond CHAOSS and into the LF as our parent org.

[2018-12-21 15:52] GeorgLink opened #150 "The Responsible Communication Style Guide"
I just discovered The Responsible Communication Style Guide.
Has anyone read it? - I didn't buy it (yet).
Is this a good resource for any of our metrics?

https://rcstyleguide.com/

[2019-01-07 15:40] GeorgLink commented on #123
@emmairwin can you please give us edit permission on the document?

[2019-01-09 20:43] GeorgLink opened #152 "A safe, sustainable, and secure way to handle data without compromising user privacy."
I just had a phone call about collecting D&I metrics with privacy in mind and I was pointed to this place for work on collecting metrics that protect privacy: https://github.com/cleaninsights/

The project looks stale (last commit in 2017) and because it comes out of a university there might be no future development on this. However, maybe there may be some ideas we could use in this document: htt

[2019-01-10 12:20] emmairwin commented on #123
done

[2019-01-10 13:46] GeorgLink commented on #123
Thanks @emmairwin !

[2019-01-14 17:25] GeorgLink commented on #126
I think we resolved this issue.

[2019-01-14 17:25] #126 closed

[2019-01-14 18:38] SarahKConway commented on #120
@GeorgLink
I've heard that mentorship programs are very western concept and not easily understood and commonly used in some geos. do we want to make this an objective. expand geo. reach of mentor programs where appropriate. Or document mentor best practices, how to instructions to encourage broader adoption? Or is it just not culturally accepted and we should be okay with mentor programs that have

[2019-01-14 19:02] SarahKConway commented on #120
adding @uoduckswtd

[2019-01-25 02:53] UTpH commented on #101
Hi!
I was wondering if I can work on this issue?

[2019-01-25 15:17] geekygirldawn commented on #101
@UTpH Yes! We'd love to have your help converting filenames with underscores to dashes! You'll need to a bit of searching through some of the READMEs to make sure that we update any links to these files as well. We'd also be happy to have you participate in other areas of the project :) We meet via a Zoom call every [Monday at 7:30am Pacific / 15:30 GMT](https://chaoss.community/participate/) if y

[2019-01-25 22:09] UTpH commented on #101
Couple of doubts:-
1. Would you like to change folder names as well? For eg. focus_areas
2. Should the following be changed as well?
\wg-diversity-inclusion\examples\openstack\OpenStack Diversity Metrics 2017-S1.ipynb

[2019-01-26 22:31] UTpH commented on #101
Baring the above, I have run a tiny script to rename the files and am waiting to submit a PR.

[2019-01-30 14:23] GeorgLink commented on #101
Yes, I think we should change folder names.

I vote for converting spaces to dashes.

I vote for converting all underscores to dashes.

[2019-02-02 02:59] UTpH commented on #101
@GeorgLink
Thanks for the clarifications!

[2019-02-02 08:50] #101 closed

[2019-02-07 17:28] BenLloydPearson commented on #149
To take this a bit further, MIT and GPL are both designed to be used on code, which this repo has very little of. Instead, my interpretation is that most of this repo would be considered content, which is best provided under a Creative Commons license. Realistically, this repo should probably be dual licensed, 1)MIT for any code examples, and 2) CC for the rest of the content.

With that said, we

[2019-02-07 17:36] GeorgLink commented on #149
+1 fully agree.

Let me provide some history below.

We worked with Mike Dolan from the LF when we established CHAOSS. We wrote section 8.2.3 of the charter to state:

We discussed Creative Commons but decided against. If I remember correctly, this was because MIT is liberal enough to also apply to documentation and what we expected to be our metric definitions, along side code samples.

[2019-02-07 17:38] GeorgLink commented on #149
I hope we can discuss this at the GB meeting at the Leadership Summit.

[2019-02-07 19:48] jgbarah commented on #149
I agree with @BenLloydPearson on his proposal of licenses for code (reference implementations) and text (description of metrics, etc.).

Instead of just moving this to the GB, I would suggest preparing a proposal (what @BenLloydPearson proposes could be most of it) for the GB, and if needed discuss with other wgs (GMD, at least is also affected), so that it can be discussed knowing the opinion of

[2019-02-08 01:27] GeorgLink commented on #149
Good idea

[2019-02-08 12:23] germonprez commented on #149
Agreed. Good idea. I would like the separation myself (code and text). I'll put this on the board agenda.

[2019-02-11 16:05] GeorgLink commented on #127
Discussion is happening in this google doc:
https://docs.google.com/document/d/1pVtYHNTwrGFV3UyiR2qBKV0MvipoEEI-fbwavSNui4Q/edit

[2019-02-11 19:19] jgbarah commented on #127
Just for you to know: once you're done with this discussion, we would try to merge in the GMD README as much as possible the diff with your result. Thanks for your work!

[2019-02-11 19:40] GeorgLink commented on #127
We finalized the structure that would work for us today. Nicole is going to contact Ben about it.

[2019-02-18 20:51] germonprez opened #162 "Communication Inclusivity: Technical Jargon Question"
As I'm aligning the D&I work with the metrics repo, the question associated with this metric is not clear.

[2019-02-18 20:54] germonprez opened #163 "Communication Inclusivity: Alternatives Question"
Again, this question is not clear

[2019-02-18 21:10] germonprez opened #164 "Focus Area Questions"
Hi all,

As I continue to move through the focus areas to align them with the Metrics repo, I'm noticing that the questions in the Focus Area tables don't always line up with the detail pages.

[2019-02-18 21:21] germonprez opened #165 "Contribution Type"
There are two Contribution Type metrics in the D&I focus areas:

https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus-areas/recognition/contribution-type.md

and

https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus-areas/contribution/contribution-type.md

[2019-02-19 17:30] GeorgLink opened #166 "Intern project ideas"
Last week we had decided to draft a project ideas for a potential Outreachy or other intern.
The description may be helpful in finding contributors.

## Project Description for CHAOSS D&I Outreachy Intern

An Outreachy intern would directly contribute to the goals of the CHAOSS D&I Working Group. The D&I Working Group develops ethical, peer-validated, research-informed sets of standards and best p

[2019-02-19 20:02] GeorgLink commented on #165
Thanks @germonprez

Closing because it's duplicate of #122

[2019-02-19 20:02] #165 closed

[2019-02-25 16:36] GeorgLink commented on #166
During D&I call 2019-02-25, we decided that we will not pursue additional interns, because RedHat and Boston University are starting a project that includes three part-time students who will be working on D&I metrics. We want to see how much mentoring the RedHat/BU project requires, before adding more interns and over-extending our mentor capacity.

I am undecided whether to leave this issue open.

[2019-02-27 22:16] emmairwin commented on #166
I realize this is not exactly the purpose of this thread, but if I had an intern work on this stuff, it would be to spend time going through  all metrics and collecting and citing research to validate what we have in the first version.

[2019-02-27 22:16] emmairwin commented on #164
Hi Matt, can you provide an example of a page that doesn't line up?, and we can turn this into a good first issue.

[2019-02-27 22:17] emmairwin commented on #163
Can you say more about this issue?

[2019-02-27 22:18] emmairwin commented on #162
Sorry Matt, I think I see where you are going with these issues, would you mind linking the resource you are referring to, for quicker lookup?  Thank you

[2019-02-27 22:48] GeorgLink commented on #166
That is another great project idea!

[2019-02-28 01:36] germonprez commented on #163
Sorry @emmairwin -- Just saying that a question is needed. I just put notes on here as I was aligning with the metrics repository

[2019-02-28 01:38] germonprez commented on #164
Sure. Code of Conduct doesn't line up:

https://github.com/chaoss/wg-diversity-inclusion/tree/master/focus-areas/governance

[2019-02-28 01:39] germonprez commented on #162
Hi @emmairwin. This is like _Alternatives_ in the Communication focus area. Just a note to finalize the question.

[2019-03-03 11:03] geekygirldawn commented on #162
For clarity, I'm assuming this issue refers to [communication-inclusivity-technical-jargon.md](https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus-areas/communication/communication-inclusivity-technical-jargon.md)

[2019-03-03 11:17] geekygirldawn commented on #163
This is a duplicate of #109. The question isn't clear because we haven't developed a question or the resource page for the [Communication Inclusivity: Alternatives](https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus-areas/communication/communication-inclusivity-alternatives.md) metric :)

[2019-03-03 11:17] #163 closed

[2019-03-04 16:51] SarahKConway commented on #150
I have not heard of this. Do you know any of the backers? I just emailed to ask if the style guide is updated on a regular basis or if an updated edition is planned. I believe it came out in 2017. I am thinking of buying it regardless.

[2019-03-04 16:59] GeorgLink commented on #150
I do not know any backer. The Responsible Communication Style Guide was mentioned by someone who I interviewed for our metrics.

[2019-03-06 03:51] emmairwin commented on #150
I am only aware of this because we worked with  Audrey Eschright on the Code of Conduct review tool, and she is an author. Looks like a great resource.

[2019-03-15 23:39] danwoqen commented on #118
Hi all - I've just had a listen to the March 4th D&I youtube recording and have a few questions on this before I suggest some edits;

- Is there a proposed mechanism / tool that will be used to measure sentiment across working groups?
- Is the focus purely on measuring contribution sentiment? Can this be expanded to include additional areas? For example, when a new project kicks off ask contributo

[2019-03-16 00:06] GeorgLink commented on #118
Welcome @danwoqen

No. CHAOSS defines implementation-agnostic metrics. This means that any suitable tool could be used. It would be great to demonstrate that a metric can be implemented and this can be done in any tool.

We are open to any of these options. To get the ball rolling, we like to start small and grow from there. We have low-hanging fruits and you are welcome to pick the ones most appe

[2019-03-18 12:45] SarahKConway commented on #120
I added some comments to the objectives - some additional objectives to consider adding.

[2019-03-19 16:49] GeorgLink opened #170 "require DCO for all new commits"
This issue is to activate [protobot/dco](https://github.com/apps/dco) (or similar bot) to check that all commits have a sign-off. The CHAOSS Project Charter requires that all contributions are signed-off.

For users of the git command line interface, a sign-off is accomplished with the `-s` as part of the commit command: `git commit -s -m 'This is a commit message'`

For users of the GitHub interf

[2019-03-21 13:58] GeorgLink commented on #170
I piloted the DCO bot with the chaoss/governance repo.
The largest hurdle is that we all will have to remember to sign-off on our commits.
I automate this in browser when using the GitHub UI with above mentioned browser plugin.
Locally, if one forgets, `git commit amend -s` adds the sign-off later.

Once we have sufficiently communicated that this change coming, we can activate the DCO bot.

[2019-03-21 13:59] GeorgLink commented on #170
We should updated our CONTRIBUTE.md before activating the DCO bot.

I can create a pull request, similar to the one on the chaoss/governance repo:
https://github.com/chaoss/governance/pull/100/files

[2019-03-21 16:46] GeorgLink commented on #120
Thanks @SarahKConway I have added a few more items and proposed a first set of sample metrics.

I'm going to surface Mentorship metric on the mailing list and put it on the agenda for next week.

[2019-03-24 04:49] Polaris000 commented on #170
This is a great idea!. Though I am a regular user of gpg keys with the command line, I never signed my commits when directly working with github, since github autosigns commits.
Will love to try the sign-off feature on github though.

[2019-04-02 13:31] GeorgLink commented on #170
@Polaris000 could you figure out how to use the browser plugin?

[2019-04-02 13:32] GeorgLink commented on #170
DCO bot is now active.

During yesterday's call, we agreed to activate the DCO bot and everyone was given advance notice through previous meetings and meeting minutes.

[2019-04-02 13:32] #170 closed

[2019-04-02 14:34] Polaris000 commented on #170
Of course!

[2019-04-02 14:35] GeorgLink commented on #170
Perfect 👍

[2019-04-02 14:39] Polaris000 commented on #170
Where should I mention the steps to use the plugin?

[2019-04-02 15:10] GeorgLink commented on #170
🥇
The CONTRIBUTING.md would be a good place for this

[2019-04-02 15:12] Polaris000 commented on #170
Thanks for the prompt reply!. Will send a pull request. Should I send a pull request to each repository?

[2019-04-02 15:20] GeorgLink commented on #170
It would be great to update all repositories.
I suggest starting with one.

[2019-04-05 20:48] #149 closed

[2019-04-08 13:59] GeorgLink commented on #120
The goal of CHAOSS is to develop metrics to understand how we are doing. If mentorship is only interesting to some projects, that's okay. I don't think it is our goal to expand the use of mentorship. However, if our metrics demonstrate the value of mentorship to a project, then hopefully more projects choose to focus on mentorship.

[2019-04-08 14:10] GeorgLink commented on #123
We adopted the goals. Thanks again @emmairwin for advancing this issue and helping us move forward.

[2019-04-08 14:10] #123 closed

[2019-04-08 14:14] GeorgLink commented on #32
This issue was resolved by adding a CONTRIBUTING.md file to our repo.

[2019-04-08 14:14] #32 closed

[2019-04-08 14:15] GeorgLink commented on #6
We have this information in our README.md now.

[2019-04-08 14:15] #6 closed

[2019-04-08 14:18] GeorgLink commented on #15
Ideas from this discussion thread made their way into the Tutorial we did at the Open Source Summit Europe 2018 in Edinburgh.

[2019-04-08 14:22] GeorgLink commented on #15
**Consderations for creating a D&I report**

1. Planning and Preparation Phase
    1. Goal setting - Why do we want a D&I report? What questions do we have?
    1. Rally support: Stakeholder onboarding.
    1. Decide which metrics can best answer the questions your community has - look at CHAOSS resources.
    1. Prepare data collection strategy based on chosen metrics.
    1. Plan dissemination s

[2019-04-08 14:23] GeorgLink commented on #33
We are now using the `good-first-issue` tag. I think that resolves this issue.

[2019-04-08 14:25] GeorgLink commented on #59
@asarma is this issue still a concern?
I'll close the issue for now, but please do re-open if this should be resolved.

[2019-04-08 14:25] #59 closed

[2019-04-08 16:55] GeorgLink opened #174 ""Level of Completeness" exercise"
In preparation of releasing metrics, the working group needs to decide by end of June which metrics to include in the release. This gives us time to further develop metrics and prepare them for the release.

To develop a plan of action, we need to understand where we stand today. To help with determining the level of completeness, please:

1. Open shared google doc: https://docs.google.com/spreads

[2019-04-15 14:37] #120 closed

[2019-04-15 15:49] GeorgLink commented on #174
We did the exercise during the call on 2019-04-15.

2) The output of this exercise is a classification for each metric:

    green (g) - good for release
    yellow (y) - needs some work, but include in release
    blue (b) - missing or needs major work, but goal is to have it ready for release
    red (r) - ignore for this release

With the goal to have at least one metric in each focus area, we

[2019-04-18 11:18] SarahKConway commented on #135
I made a few additional suggestions and edits to the document! Really like this as an addition to the Leadership metric.

[2019-04-18 11:21] GeorgLink commented on #135
Thank you @SarahKConway - You earned a 🥇 for advancing D&I metrics.

[2019-04-22 15:47] GeorgLink commented on #135
We worked on the metric during today's weekly call.

We need to work on the explanation of what sponsorship is and how it is different from mentorship.

[2019-05-13 15:37] GeorgLink commented on #116
At today's meeting, we (@geekygirldawn @dicortazar @germonprez @GeorgLink) reviewed this metric and @emmairwin's feedback in #153

We were struggling with the complexity. We think that a good way forward is to reduce the complexity by separating the document into three components.

* Component 1 (**Common Metric**): How to obtain contribution types and which contribution types exist is a universal

[2019-06-22 17:36] GeorgLink opened #183 "Candidate Release Comments (Diversity Access Tickets)"
This issue was created to collect comments about the upcoming metrics release.

This thread is for comments about **Diversity Access Tickets**

GitHub location: https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus-areas/events/diversity-tickets.md

Release candidate: https://chaoss.community/metric-diversity-access-tickets/

See all release candidates of metrics are at:
https://chaos

[2019-06-22 17:36] GeorgLink opened #184 "Candidate Release Comments (Code of Conduct at Event)"
This issue was created to collect comments about the upcoming metrics release.

This thread is for comments about **Code of Conduct at Event**

GitHub location: https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus-areas/events/event-code-of-conduct.md

Release candidate: https://chaoss.community/metric-code-of-conduct-at-event/

See all release candidates of metrics are at:
https://c

[2019-06-22 17:46] GeorgLink opened #185 "Candidate Release Comments (Family Friendliness)"
This issue was created to collect comments about the upcoming metrics release.

This thread is for comments about **Family Friendliness**

GitHub location: https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus-areas/events/family-friendly.md

Release candidate: https://chaoss.community/metric-family-friendliness/

See all release candidates of metrics are at:
https://chaoss.community/

[2019-06-22 17:47] GeorgLink opened #186 "Candidate Release Comments (Mentorship)"
This issue was created to collect comments about the upcoming metrics release.

This thread is for comments about **Mentorship**

GitHub location: https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus-areas/leadership/mentorship.md

Release candidate: https://chaoss.community/metric-mentorship/

See all release candidates of metrics are at:
https://chaoss.community/metrics-rc/

**Impo

[2019-06-22 18:34] GeorgLink opened #188 "Candidate Release Comments (Code of Conduct)"
This issue was created to collect comments about the upcoming metrics release.

This thread is for comments about **Code of Conduct**

GitHub location: https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus-areas/governance/code-of-conduct.md

Release candidate: https://chaoss.community/metric-code-of-conduct

See all release candidates of metrics are at:
https://chaoss.community/metri

[2019-06-25 13:48] geekygirldawn commented on #127
I'm pretty sure that we did this a while ago and forgot to close the issue?

[2019-06-25 14:42] GeorgLink commented on #127
+1 yes, I think you're right.

[2019-06-25 15:06] geekygirldawn commented on #127
I'll close it now before we forget again :)

[2019-06-25 15:06] #127 closed

[2019-07-09 17:09] foundjem commented on #188
Communities might be encouraged to have an ombudsperson, and to ensure the rights, confidentiality and dignity of violated persons. Also, to make sure every community member knows their **rights** and **responsibilities**.

[2019-07-09 17:48] foundjem commented on #186
Interesting!

Moreover, Mentorship if conducted properly could help educate mentees about the work culture of a project/community. Also, well-formed mentees can contribute quality code, which represent best practices because they have learned these skills over the Mentorship period.

- Have some few questions though, how long will the mentorship program last?
- Can a mentee change their mentor aft

[2019-07-10 22:42] mpgjon commented on #188
I'd like to recommend that on the Inclusivity front, there be a set of suggested statements/actions that projects can and should state to speak to inclusivity.

For example:
Does the Code of Conduct (or some other file in a Governance repo) define the actions the project community commit to with regards to:

- Availability/commitment to of accessible meetings either via captioning or real-time not

[2019-07-11 13:44] germonprez commented on #183
LGTM

[2019-07-11 13:46] germonprez commented on #184
Likert scale [1-4] item: How well did the event meet your code of conduct expectations.

This should end with a question mark

[2019-07-11 13:48] germonprez commented on #185
Likert scale [1-4] item: How family friendly is the event?

Set your scale to 1-5 to allow for neutral options.

[2019-07-11 13:50] germonprez commented on #188
Should this be called **Code of Conduct for Project** to help delineate it from CoC for Event.

[2019-07-11 13:51] germonprez commented on #188
Like other metrics, set the Likert scale to 1-5

[2019-07-11 13:52] germonprez commented on #186
Same Likert scale comment as in the other metrics. Make them all 1-5 to allow for neutral option.

[2019-07-12 10:53] geekygirldawn commented on #185
There are a lot of opinions about whether likely scales should be odd or even depending on the situation. I think we should take a neutral stance and say [1-x]. Thoughts?

[2019-07-12 10:54] geekygirldawn commented on #185
I’m also good with Matt’s suggestion, too :)

[2019-07-12 11:12] germonprez commented on #185
1-x is a good idea.

(This suggestion would apply to all other D&I metrics where this issue comes up).

[2019-07-12 16:37] mpgjon opened #192 "Inclusivity & Accessibility - Section 508 compliance validation"
In the US, there is a fairly extensive list of technical accommodations for extending inclusiveness in Section 508 - https://www.access-board.gov/guidelines-and-standards/communications-and-it/about-the-section-508-standards/section-508-standards

In context, it may be worth reviewing how the front-ends of CHAOSS products (Dashboards) comply with these standards so we're walking the talking:)

[2019-07-12 19:28] GeorgLink commented on #192
:D that's a great idea.

Tagging @sduenas and @sgoggins as respective leads for GrimoireLab and Augur.
Maybe create a separate issue for each software project?

[2019-07-17 03:12] emmairwin commented on #192
Agree that this is a 'bucket of work' and should have multiple issues opened underneath it.   @mpgjon are you interested in in organizing this work into actionable pieces?

[2019-07-17 03:13] emmairwin commented on #166
@GeorgLink shall we close this now?   Or do you want to retain it as a wiki page?

[2019-07-17 04:45] mpgjon commented on #192
Sure can:)

On Fri, Jul 12, 2019 at 12:28 PM Georg J.P. Link <notifications@github.com>
wrote:

[2019-07-17 04:57] mpgjon opened #197 "Ensure CHAOSS front-end components are color-blind accessible"
To ensure CHAOSS is inclusive and accessible, dashboard layouts, and front end components should be reviewed for compliance with color-blindness development standards.

There's a good test filter service here that can be used to test pages: https://www.toptal.com/designers/colorfilter

Acceptance Criteria should include:
Given that a component of CHAOSS has a front end page
When that page is revie

[2019-07-17 05:02] mpgjon opened #198 "Ensure CHAOSS front-end components are accessible for visually impaired users"
To ensure CHAOSS is inclusive and accessible, dashboard layouts, and front end components should be reviewed for accessibility by visually impaired users.

Acceptance Criteria should include:
Given that a component of CHAOSS has a front end page
When that page is reviewed using for browser Zoom (at minimum)
Then that page is still navigable and readable for visually impaired users

For pages that

[2019-07-17 05:07] mpgjon commented on #192
I submitted two issues to start. I was thinking about submitting a third for supporting blind users, but at this time, I don't think there's any technical way to do ALT descriptions on dynamic graphs (dashboards).  Would love to hear about anything to the contrary, but I think that one may be a much longer term goal.

[2019-07-17 11:53] germonprez commented on #198
These are great. Thanks @mpgjon Are there online resources that you use to help ensure this?

[2019-07-17 11:54] germonprez commented on #197
Ah! Does this link help answer my question in #198?

[2019-07-17 14:27] mpgjon commented on #198
@germonprez - yep!  the magnifier built into browsers is really the best way to do this - just crank up the zoom level on browsers and see if it's still workable (Firefox = Window>Zoom, etc).

The rest of the tools out there for visually impaired access are mostly all screen readers, which we should ideally make front-ends accessible to; but as noted on my #192 comment - I'm just not sure how scre

[2019-07-17 17:12] germonprez commented on #198
Got it. Thanks for this detail.

[2019-07-18 04:34] GeorgLink commented on #166
Yes 👍

[2019-07-18 04:34] #166 closed

[2019-07-18 04:35] GeorgLink commented on #185
1-x is fine with me. I had originally included 1-x because I don't expect everyone to know what "likert scale" means.

[2019-07-18 04:36] GeorgLink commented on #198
I am thinking that it would make sense to open an issue each for GrimoireLab and Augur in their respective repositories.

[2019-08-02 17:13] klumb opened #200 "General Release Issues - Standarization across groups"
- Remove Question Header
- Un-bold question:
- remove numbers from headers

[2019-08-02 17:14] klumb commented on #185
Remove text from resources section

[2019-08-02 19:03] klumb commented on #200
These edits are requested to standardize the release across working groups.

[2019-08-05 14:49] GeorgLink commented on #186
I see @foundjem's comment as very practical implementation questions. We should discuss how this translates to questions to understand the D&I of our projects.

[2019-08-05 14:53] #186 closed

[2019-08-05 14:53] dicortazar opened #201 "[Mentorship] Discussion on the addition of extra metrics to the mentor/mentee context"
I'm opening a new ticket with a comment from @foundjem at #186 .

As that ticket was focused on the process to freeze metrics for the release candidate, it was needed to move out that discussion of the ticket, sorry @foundjem for this ;).

The following is part of the discussion for mentorship. Thanks!

[2019-08-05 14:55] dicortazar commented on #186
Moving @foundjem comments to #201

[2019-08-05 15:00] GeorgLink commented on #188
@mpgjon's comment is intriguing. I think this inclusivity aspect is part of other metrics.

https://github.com/chaoss/wg-diversity-inclusion/tree/master/focus-areas/communication

[2019-08-05 15:04] #185 closed

[2019-08-05 15:05] #188 closed

[2019-08-05 15:07] #184 closed

[2019-08-05 15:08] #200 closed

[2019-08-05 15:10] #183 closed

[2019-08-05 15:31] germonprez opened #212 "Code of Conduct (Project)"
@GeorgLink @klumb This change did not seem to make it through. Could you double check?

Also, a few changes need to follow:

- Name of the metric to reflect the inclusion of 'project'
- Website table to reflect the name change.

[2019-08-05 15:36] klumb commented on #212
@germonprez, I don't see a PR for this change?

Are we changing the name of the md file as well?

[2019-08-05 16:27] germonprez commented on #212
I could have sworn I saw it go across the screen :)

On Aug 5, 2019 10:36 AM, "Kevin Lumbard" <notifications@github.com> wrote:

[2019-08-05 18:55] GeorgLink commented on #212
I'll check

[2019-08-05 19:00] GeorgLink commented on #212
I created a new PR: https://github.com/chaoss/wg-diversity-inclusion/pull/213

[2019-08-05 19:08] GeorgLink commented on #188
We added a question to reflect the rights and responsibility aspect.

[2019-08-05 19:53] klumb commented on #212
Website table is updated. I don't think we need to change the name of md file.

[2019-08-05 19:55] #212 closed

[2019-08-12 02:25] GeorgLink opened #216 "Question for Event Diversity users "diverse people""
Gil Yehuda commented while working on [TODO's diversity guide](https://docs.google.com/document/d/1x3irlDLuM2GZ4AvvcAVoave_NoA0HLWv8u5OlHPpZTk/edit?ts=5d50448f) on the question we have for Event Diversity:

I think that Gil is making a good point and I propose we revise the question.

[2019-08-12 02:37] GeorgLink opened #217 "Revise Order of Focus Areas"
I think at one point, our Focus Areas were alphabetized... then we revised them. Now, the order is not obvious and I don't know for sure why we have the focus areas in our current order.

Gil Yehuda commented:

I propose that we reconsider the order of our focus areas and maybe revise it.

[2019-08-24 06:08] tapaswenipathak opened #219 "Retaining woman in open source: Organising open source day montly"
Hi folks: Finding an active open source contributor or maintainer woman is hard. Internships give a break in open source, if observed there is no retention of women in open source and research[1] suggests. Implementing open source day per month letting woman work with mentor and contribute in an open source project they would like would be practical implementation than just publishing research and

[2019-08-24 13:25] GeorgLink commented on #219
Hi @tapaswenipathak.

It is great that you found the CHAOSS Diversity and Inclusion Working Group (D&I WG). We care deeply about the issue you point out.

The CHAOSS D&I WG is familiar with the research you mention and several members are actively involved in initiatives that improve their communities' diversity and inclusivity. The CHAOSS D&I WG has an approach of providing metrics for communitie

[2019-08-24 13:43] tapaswenipathak commented on #219
Hello,

I mail the proposal out.

On Sat, Aug 24, 2019 at 6:55 PM Georg J.P. Link
<notifications@github.com> wrote:

--
Thanks,
Tapasweni

[2019-08-24 13:49] tapaswenipathak commented on #219
Hello,

Thanks! I will mail the proposal out.

On Sat, Aug 24, 2019 at 6:55 PM Georg J.P. Link
<notifications@github.com> wrote:

--
Thanks,
Tapasweni

[2019-08-29 05:10] #219 closed

[2019-09-09 16:27] GeorgLink opened #220 "Collect existing D&I surveys"
The idea is to collect existing D&I surveys to have references for what questions have been used and to have an overview of what has been done and reported.

The collection should contain:
1. Survey questionnaires
2. Survey results and reports

We can collect the information in a public google doc:
https://docs.google.com/document/d/1GsGdfr4eqbh_bWTH5oYbQcko6OGAlmQCo8-BqybEFoo/edit#

I'll reach ou

[2019-09-18 16:26] geekygirldawn opened #222 "Travel funding / diversity access tickets"
After talking to Angela, we should probably include something about travel funding to go along with the [diversity access tickets](https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus-areas/events/diversity-tickets.md). The LF have found that without the travel funding, most people can't afford to attend even with a free ticket.

[2019-10-04 21:38] ivamarr commented on #220
Hi @GeorgLink,

I would love to contribute to this project as we are doing an Open Source for Good project at the office. Are you still looking for data on this issue? Thanks!

[2019-10-04 21:57] ivamarr opened #223 "Code of Conduct at Event Page - add a template"
In the Known Implementations Resources section at the bottom of https://chaoss.community/metric-code-of-conduct-at-event/ add an additional resource that helps Events add code of conducts.

Montréal's Women in Tech developed a really helpful template to implement at events that could be a helpful in this page.
https://manifestedesfemmesentech.com/en/code-of-conduct-template

[2019-10-04 22:09] ivamarr opened #224 "Event Diversity - Family Friendliness - Add resources"
On the page Event Diversity - Family Friendliness https://chaoss.community/metric-family-friendliness/
Add the following resources at the bottom section of Known Implementations
Resources:
- https://adacamp.org/adacamp-toolkit/childcare/
- https://open.nytimes.com/what-if-child-care-were-as-standard-as-coffee-at-tech-conferences-568c5fba028e

[2019-10-04 22:38] ivamarr opened #226 "Diversity Access Tickets - add resources"
Add resources at the bottom of the page in _Known Implementations
Resources_ section
- https://internetfreedomfestival.org/internet-freedom-festival-diversity-inclusion-fund/

[2019-10-04 23:47] GeorgLink commented on #220
Yes, we are still interested in additional surveys.

On Monday 10/7  during our weekly meeting, we have on the agenda to go
thorough the current connection. I invite you to join us then.

Georg

[2019-10-14 14:47] geekygirldawn commented on #224
Thanks so much!

[2019-10-14 14:47] #224 closed

[2019-10-14 14:47] geekygirldawn commented on #223
Thanks!

[2019-10-14 14:47] #223 closed

[2019-10-14 14:50] sgoggins commented on #217
@klumb and @germonprez ; Is this something you would do in the ordinary progress of standardizing metrics definitions.

[2019-10-14 14:50] sgoggins commented on #216
@GeorgLink : What is the status?

[2019-10-14 14:51] sgoggins commented on #201
@foundjem and @dicortazar : What is the status?

[2019-10-14 14:52] sgoggins commented on #198
@GeorgLink : I do not think there are issues open on the tools. What do you think? @klumb : Do we know about the main website?

[2019-10-14 14:53] sgoggins commented on #174
@GeorgLink : Do we know the status of this issue? It looks like it may be closable.

[2019-10-14 14:55] sgoggins commented on #164
PR Merged.

[2019-10-14 14:55] #164 closed

[2019-10-14 14:57] sgoggins commented on #152
@GeorgLink : What do you think about closing this issue?

[2019-10-14 14:58] geekygirldawn commented on #150
@GeorgLink Can we close this one? It looks pretty old.

[2019-10-14 14:58] #143 closed

[2019-10-14 15:00] sgoggins commented on #129
@GeorgLink : is this incorporated into discussions since December? Should this issue remain open?

[2019-10-14 15:00] GeorgLink commented on #150
yes.

[2019-10-14 15:00] #150 closed

[2019-10-14 15:00] klumb commented on #217
@GeorgLink, this appears to be a comment on the metrics release. Is that correct?

The order of the focus areas on the website was dictated by the spreadsheet we were using to coordinate the release.

I don't think we discussed order prior to release for V1 but alphabetical would make sense.

I think this is an issue we resolve in the next release. However, if we want to fix this now it is easy.

[2019-10-14 15:01] geekygirldawn commented on #135
This metric was released

[2019-10-14 15:01] sgoggins commented on #122
@GeorgLink : This looks like its addressed. Can you confirm and close if so?

[2019-10-14 15:01] sgoggins commented on #121
A lot of progress is made on the document. Looks like it may be ready for a PR, @GeorgLink

[2019-10-14 15:02] sgoggins commented on #119
@GeorgLink : PR?

[2019-10-14 15:03] sgoggins commented on #112
Just a template to date.

[2019-10-14 15:04] sgoggins commented on #118
Are these in a focus area? @GeorgLink

[2019-10-14 15:05] GeorgLink commented on #152
we can close it. if we need this info again, we can find :D

[2019-10-14 15:05] #152 closed

[2019-10-14 15:07] GeorgLink commented on #118
The focus area was renamed, not the folder that holds it.
The metric needs to be defined more and then moved over to the repo.

[2019-10-14 15:08] GeorgLink commented on #112
correct. It needs to be developed further

[2019-10-14 15:11] GeorgLink commented on #119
Do you agree that the metric ready? Then yes, PR would be great.

Whoever submits a PR, please use the [new template](https://github.com/chaoss/metrics/pull/148) that we have been discussing.

[2019-10-14 15:12] GeorgLink commented on #121
Yes, I think we are at a point of diminishing returns to discuss this metric further in meetings.

PR with the [new metric template](https://github.com/chaoss/metrics/pull/148) would be great.

[2019-10-14 15:15] GeorgLink commented on #217
No need to change released metrics.

I agree, this issue can be solved with a PR to make order alphabetical in the README and the focus-areas/README

[2019-10-14 15:16] GeorgLink commented on #122
This has not been resolved. The PR was rejected at the time and needs more work.

[2019-10-14 15:17] GeorgLink commented on #129
yes, we can close this

[2019-10-14 15:17] #129 closed

[2019-10-14 15:18] GeorgLink commented on #174
this was done in preparation for the first release. we can close the issue

[2019-10-14 15:18] #174 closed

[2019-10-14 15:19] GeorgLink commented on #198
I don't think the issues were created yet.
When the issues are created, it would be good to reference this issue here to show the relationships.

[2019-10-14 15:42] GeorgLink commented on #216
No work has been done to resolve this issue

[2019-11-04 16:25] SMotaal opened #235 "re: Observing or Joining Monday meetings"
Hi folks:

Currently, a few of us have been exploring the space in the Node.js Community Committee in the form of a new initiative [#507](https://github.com/nodejs/community-committee/issues/507) aka Improving Odds (for now) which is meant to tackle equal-access matters that could improve the odds for equal participation and contribution.

The efforts are still relatively young though, and involve

[2019-11-04 16:34] klumb commented on #235
Saleh,

You are very welcome and we look forward to seeing you.

Thank you for catching the discrepancy in the calendar text. I have edited it to match the current meeting time of 11:00 am Central Time.

Cheers,

Kevin Lumbard, M.S. PMP (he/him/his)
University of Nebraska at Omaha
College of Information Science and Technology
PKI 367

"We build our computers the way we build our cities -- over tim

[2019-11-04 16:45] GeorgLink commented on #235
Yes, you are very welcome to join our call.

Thank you for pointing out the discrepancy with the time. I found another and issued a pull request #236 .

As @klumb said, we meet today in 15 minutes. [Join us](https://unomaha.zoom.us/j/720431288)

The chaoss.community/participate page is correct:

[2019-11-04 16:50] SMotaal commented on #235
Great, I already popped in a bit early and discovered I never left :)

Thanks folks!

[2019-11-04 16:53] #235 closed

[2019-11-04 17:41] GeorgLink commented on #83
Reopen to continue working on the metric.

[2019-11-04 17:41] GeorgLink commented on #84
Reopen to continue working on the metric.

[2019-11-10 17:10] SMotaal commented on #235
@GeorgLink @klumb and (at)A

Thank you so much for last Monday.

Truth be told, going into meetings as someone trying to talk disabilities in the open source space, you often need to work hard to rebuild the motivation to keep on going. No question, open source is made up of the most ethical, compassionate, generous and open minded people. But without clarity and resource, most find it hard to rea

[2019-11-10 17:58] GeorgLink commented on #235
Saleh, thank you for the kind words.

I’ve joined the Slack channel and commented on the survey you shared last Monday.

I look forward to seeing you again tomorrow.

[2019-11-18 17:58] germonprez opened #240 "Potential New Event Metric: Diversity in Delivery of Talk Material"
Diversity in the delivery of talk material

- Sign
- Text

[2019-11-25 17:22] SMotaal opened #242 "meta: Inclusive workshops with breakout rooms"
This issue follows up on an idea we discussed while exploring topics for SCALE 18x. The thought that workshops could use something like Zoom rooms to allow remote participants (and moderators) where currently they can sometimes not be able to attend.

[2019-12-06 13:09] GeorgLink commented on #226
@ivamarr thank you for your suggestion. This has been added to our [Diversity Access Tickets](https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus-areas/events/diversity-tickets.md) metric.

[2019-12-06 13:09] #226 closed

[2019-12-09 17:31] #217 closed

[2019-12-10 07:21] patcon opened #249 "Consider some measure of role rotation as a health indicator"
Hi all! Love this project and all of your efforts!

I'd like to propose that there be consideration of metrics to track how often leadership opportunities are rotating. This might be official governance positions, but also rotation of any community roles would seem to offer insight.

In the community in which I co-organize, we've come to realize that role rotation is a really important component o

[2019-12-10 15:17] GeorgLink commented on #249
Hi Patrick,

I love the idea of a metric for Role Rotation or Cycling.

We are practicing rotation in CHAOSS as a way to have a healthy community.

We have started work on a metric that is called broadly “Leadership Principles” and one of the principles is to have cycles for review and renewal.

I believe we should separate out those leadership principles and create dedicated metrics for each beca

[2019-12-10 20:05] patcon commented on #249
Cool! That's great that CHAOSS is working on this too!

As for working on this, I'd be happy to contribute, and open to offering more time on-the-fly. But I'm admittedly trying to focus my personal efforts on more financial sustainability, so I don't think I'd be able to commit firmly...!

Oh! And one final technique I've toyed with in our community:

- Given: lightweight self-assessment of leader

[2019-12-10 20:12] GeorgLink commented on #249
Thanks for sharing prior art. CHAOSS is all about collect these ideas and polish them for everyone.

I like the micro-survey approach to have a pulse on the community. :)

[2019-12-12 16:24] GeorgLink opened #250 "Use case for Time to First Response metric"
The Common Metrics WG refined the "Time to First Response" metric. The following text is a use case of that metric for D&I:

Should we create a new metric that builds on top of the common metric?

[2019-12-28 18:18] emmairwin commented on #249
To echo what Georg, said - cycles of renewal is part of the Incluisve Leadership Principles - these came from a lot of research at Mozilla and are currently included in this checklist we use for MOSS:

https://github.com/mozilla/diversity/blob/3b9bfebf5db48a32da08de145217dee282c13f26/evaluation_tools/governance-basic.md.

I especially like referring people to this visual:

![68747470733a2f2f6d6f7a

[2019-12-29 22:14] emmairwin commented on #34
@serebrenik would love a PR for these additions to https://github.com/chaoss/wg-diversity-inclusion/blob/b473bf2813e6eb2c5cf38a52185e1289252505c8/demographic-data/README.md

And if you have a preferred standard for these, those would be greatly appreciated as additions to:  https://github.com/chaoss/wg-diversity-inclusion/tree/06a43c7504f7552df42f08a439715f2f49610d02/demographic-data

[2019-12-29 22:15] emmairwin commented on #15
@GeorgLink is this completed (assuming as part of the conference sessions you've been running?)

[2019-12-29 22:16] emmairwin commented on #33
Closing issue based on previous comment

[2019-12-29 22:16] #33 closed

[2019-12-29 22:17] emmairwin commented on #56
@GeorgLink what was the action item for this task?  Thanks!

[2019-12-29 22:17] emmairwin commented on #57
Closing

[2019-12-29 22:17] #57 closed

[2019-12-29 22:19] emmairwin commented on #58
@asarma with some reorg of the repo, I am not sure if this is happened, or is still relevant.  Can you please update?  Thanks

[2019-12-29 22:20] emmairwin commented on #66
Closing based on:  https://github.com/chaoss/wg-evolution/issues/18
Please open new issue if needed.

[2019-12-29 22:20] #66 closed

[2019-12-29 22:21] emmairwin commented on #67
I think someone could take a first-go at this, without not a lot of experience and based on this thread.  (added good first issue, to get this un-stuck this)

[2019-12-29 22:23] emmairwin commented on #70
@GeorgLink where do you feel this task is?   (not clear from reading doc)

[2019-12-29 22:24] emmairwin commented on #71
Added good first issue, I think someone can take a first-go at this and get it moving based on other metric areas.

[2019-12-29 22:25] emmairwin commented on #74
Agree with  @aserebrenik   I think this can be a component of communication, or project place - issue tracker, but stand alone seems a bit odd.

[2019-12-29 22:30] emmairwin commented on #250
I think response is important for building healthy, welcoming communities which of course translates to inclusion, but I think we should be citing specific research related to D&I to ensure the goal-metrics are focused there.

In Mozilla research, the D&I angle was not that response times were quick, so much as who had quick and meaningful responses.  For example, I've observed that those who are

[2019-12-29 22:32] emmairwin commented on #231
I think this rolls into #250 as well

[2019-12-29 23:17] emmairwin opened #252 "Agree on a format for a 'Metrics Toolkit' that makes application of metrics easier for people/projects."
There is a lot of great work in this repo, but I am finding that it's still a challenge for people to apply these in their projects/communities.  As a result, I think it's hard for us to talk about the impact we're having.

Keeping in mind that I am horrible at design, I played around with what I think would be helpful to people navigating the opportunity of applying metrics, without needing to un

[2019-12-29 23:42] GeorgLink commented on #252
Hi Emma,

Thank you for prototyping your idea. Is this something you are suggesting for the GitHub repository we work in or for the released metrics on our website?

Best,
Georg

[2019-12-30 00:44] emmairwin commented on #252
Website.  Happy to come on a call to discuss more - I just wanted to propose in an issue first, based on some challenges explaining this project externally.

[2019-12-30 00:58] GeorgLink commented on #252
Thanks!
I like the idea of the boxes that visually display and organize the metrics more appealing and useful than our current list. When we first started discussing a metric release, I had proposed a similar approach to what you prototyped, but we dismissed it for simplicity in the first release. I am happy to champion a different display and be part of the conversation for our second release.

I

[2019-12-30 01:18] GeorgLink commented on #70
We completed a draft that we felt was good to be submitted, which is proposed in pr https://github.com/chaoss/wg-diversity-inclusion/pull/251

----
_The bottom of the document contained a note about the metric and why we developed it into what is now proposed to be added as a metric (I moved the note here and added more explanation):_

This metric seemed to be too complex because it contained diff

[2019-12-30 01:21] GeorgLink commented on #56
Action item: Go through questions and see if we can reuse any for our D&I metrics.

[2019-12-30 01:24] GeorgLink commented on #15
We ran several sessions on the subject. However, I was thinking that at some point we would make this "process" or these "recommended steps" part of our recommendation. Maybe an appendix to the released metrics? (on a related note, we also need to determine whether to release our [list of demographics](https://github.com/chaoss/wg-diversity-inclusion/tree/master/demographic-data) or whether we can

[2019-12-30 02:00] emmairwin commented on #252
The focus of this (for me) is to make sure we have activities that are easy to a) understand, b) implement and c) contribute back to .   The presentation of those activities (whether it's a website etc) is secondary in my nind.

For example.

This [mockup](url
![image](https://user-images.githubusercontent.com/60618/71565556-84b87a00-2a64-11ea-8be2-78dd7c4ea5a3.png)
), lets people understand that

[2019-12-30 17:04] klumb commented on #252
I like it but @GeorgLink, I don't think this is a manageable release structure. The reason being, that all working groups would need to match the style and each release gets larger making it quite difficult to manage.

But it doesn't have to be part of the release. I think the way @emmairwin is describing it, is as a tool to explore and present D&I metrics. It would be easy to build the model she

[2019-12-30 18:10] klumb opened #253 "Release Candidate Comments (Attendee Demographics)"
This issue was created to collect comments about the upcoming metrics release.

**This thread is for comments about Attendee Demographics**

GitHub location: https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus-areas/events/attendee-demographics.md

See all release candidates of metrics are at:
https://chaoss.community/metrics-202001/

[2019-12-30 18:12] klumb opened #254 "Revisiting Metric: Code of Conduct at Event"
This issue was created to collect comments about the upcoming metrics release.

**This thread is for comments about Code of Conduct at Event**

GitHub location: https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus-areas/events/event-code-of-conduct.md

See all release candidates of metrics are at:
https://chaoss.community/metrics-202001/

[2019-12-30 18:14] klumb opened #255 "Release Candidate Comments (Diversity Access Tickets)"
This issue was created to collect comments about the upcoming metrics release.

**This thread is for comments about Diversity Access Tickets**

GitHub location: https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus-areas/events/diversity-tickets.md

See all release candidates of metrics are at:
https://chaoss.community/metrics-202001/

[2019-12-30 18:16] klumb opened #256 "Release Candidate Comments (Family Friendliness)"
This issue was created to collect comments about the upcoming metrics release.

**This thread is for comments about Family Friendliness**

GitHub location: https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus-areas/events/family-friendly.md

See all release candidates of metrics are at:
https://chaoss.community/metrics-202001/

[2019-12-30 18:18] klumb opened #257 "Release Candidate Comments (Speaker Demographics)"
This issue was created to collect comments about the upcoming metrics release.

**This thread is for comments about Speaker Demographics**

GitHub location: https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus-areas/events/speaker-demographics.md

See all release candidates of metrics are at:
https://chaoss.community/metrics-202001/

[2019-12-30 18:21] klumb opened #258 "Release Candidate Comments (Board/Council Diversity)"
This issue was created to collect comments about the upcoming metrics release.

**This thread is for comments about Board/Council Diversity**

GitHub location: https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus-areas/governance/board-council-diversity.md

See all release candidates of metrics are at:
https://chaoss.community/metrics-202001/

[2019-12-30 18:23] klumb opened #259 "Release Candidate Comments (Code of Conduct for Project)"
This issue was created to collect comments about the upcoming metrics release.

**This thread is for comments about Code of Conduct for Project**

GitHub location: https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus-areas/governance/code-of-conduct.md

See all release candidates of metrics are at:
https://chaoss.community/metrics-202001/

[2019-12-30 18:26] klumb opened #260 "Release Candidate Comments (Mentorship)"
This issue was created to collect comments about the upcoming metrics release.

**This thread is for comments about Mentorship**

GitHub location: https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus-areas/leadership/mentorship.md

See all release candidates of metrics are at:
https://chaoss.community/metrics-202001/

[2019-12-30 18:27] klumb opened #261 "Release Candidate Comments (Sponsorship)"
This issue was created to collect comments about the upcoming metrics release.

**This thread is for comments about Sponsorship**

GitHub location: https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus-areas/leadership/sponsorship.md

See all release candidates of metrics are at:
https://chaoss.community/metrics-202001/

[2019-12-30 20:12] germonprez commented on #261
Remove Focus Area prior to metric name -- this is consistent with the layout of the other release candidate metrics.

[2019-12-30 20:13] germonprez commented on #258
Remove Focus Area prior to metric name -- this is consistent with the layout of the other release candidate metrics.

[2020-01-09 17:00] klumb opened #262 "Release Notes (D&I)"
Please leave comments and notes here to help construct the release notes document.

[2020-01-09 18:56] emmairwin commented on #252
As an update, I am going to set a objective/goal for this first half of the year to publish a series of activities based on metrics, that anyone can use on their open source project (think First Aid).
Most likely governance, leadership, code of conduct enforcement, and recognition.  But I'll update here as those are published (likely starting early February)

[2020-01-09 19:52] germonprez commented on #252
Awesome!!

On Thu, Jan 9, 2020 at 12:56 PM Emma <notifications@github.com> wrote:

--
Mutual of Omaha Professor
Information Systems
College of Information Science & Technology
University of Nebraska Omaha
CV: https://bit.ly/2kftONr

Omaha Parks Foundation Board Member
http://omahaparksfoundation.org/

he / him / his

[2020-01-13 21:15] germonprez commented on #254
"Resources" should be "References"

[2020-01-13 21:15] germonprez commented on #255
"Resources" should be "References"

[2020-01-13 21:15] germonprez commented on #256
"Resources" should be "References"

[2020-01-13 21:15] germonprez commented on #257
"Resources" should be "References"

[2020-01-13 21:16] germonprez commented on #261
"Resources" should be "References"

[2020-01-13 21:16] germonprez commented on #260
Do not _italics_ the References

[2020-01-20 17:11] germonprez commented on #261
http://www.talentinnovation.org/publication.cfm?publication=1330 appears to be a pay only link

[2020-01-20 17:15] germonprez commented on #261
Edit bullet points to get aligned.

[2020-01-20 17:17] germonprez commented on #260
Remove redundant line:
Survey Likert item (1-x): I would recommend mentoring for this community.

[2020-01-20 17:26] germonprez commented on #259
Resources needs to be References.

[2020-01-20 17:31] germonprez commented on #257
This is not a requirement in releasing the metric --> Convert the objective bullet point list to a narrative.

[2020-01-20 17:35] germonprez commented on #262
New Metrics Include:
- Sponsorship
- Board/Council Diversity

[2020-01-21 18:13] germonprez commented on #253
Resources should be References

[2020-01-25 17:31] GeorgLink commented on #262
We improved clarity on several metrics. Maybe we want to include that, so people know the metrics changed a little.

[2020-01-25 17:32] GeorgLink commented on #261
I am marking this as ready to release and closing the issue. Please reopen if that is not the case.

[2020-01-25 17:32] #261 closed

[2020-01-25 17:33] GeorgLink commented on #260
I am marking this as ready to release and closing the issue. Please reopen if that is not the case.

[2020-01-25 17:33] #260 closed

[2020-01-25 17:33] GeorgLink commented on #259
I am marking this as ready to release and closing the issue. Please reopen if that is not the case.

[2020-01-25 17:33] #259 closed

[2020-01-25 17:35] GeorgLink commented on #258
I am marking this as ready to release and closing the issue. Please reopen if that is not the case.

[2020-01-25 17:35] #258 closed

[2020-01-25 17:36] GeorgLink commented on #257
I am marking this as ready to release and closing the issue. Please reopen if that is not the case.

[2020-01-25 17:36] #257 closed

[2020-01-25 17:36] GeorgLink commented on #256
I am marking this as ready to release and closing the issue. Please reopen if that is not the case.

[2020-01-25 17:36] #256 closed

[2020-01-25 17:36] GeorgLink commented on #255
I am marking this as ready to release and closing the issue. Please reopen if that is not the case.

[2020-01-25 17:36] #255 closed

[2020-01-25 17:37] GeorgLink commented on #254
I am marking this as ready to release and closing the issue. Please reopen if that is not the case.

[2020-01-25 17:37] GeorgLink commented on #253
I am marking this as ready to release and closing the issue. Please reopen if that is not the case.

[2020-01-25 17:37] #253 closed

[2020-01-26 13:50] germonprez commented on #262
Thanks

[2020-01-26 13:50] #262 closed

[2020-02-01 15:40] germonprez opened #273 "CHAOSScon 2020 Comments"
Hi, I'm just leaving these comments with respect to the D&I Badging Program and Family Friendliness. Particularly how we can observe family friendliness in smaller conferences:

- avoid school holidays
- flexible arrival/departure times
- provide a fridge
- allow baby-wearing
- subsidize babysitter over duration of event

[2020-02-26 15:53] SMotaal opened #277 "Weekly Badge-athons (all welcome to join)"
We started a weekly weekend work session between @Nebrethar and @SMotaal taking place this and every other Sunday 11 am to 1 pm Eastern Time (see your [local time](https://www.wolframalpha.com/input/?i=Sunday+11+am+to+1+pm+Eastern+Time)).

This time block involves some discussions, and occasional moments of silence for individual work done sync.

All welcome to join of course via [zoom](https://zo

[2020-02-26 15:54] GeorgLink commented on #277
Thanks for sharing the invite!

[2020-02-26 15:57] SMotaal commented on #277
@GeorgLink would be great if we can add it to the shared calendar… and would be great if we can somehow be able to cancel or reschedule if necessary, however that could work best.

[2020-02-26 16:14] GeorgLink commented on #277
@klumb maintains the calender.

[2020-02-26 20:07] SMotaal opened #278 "Draft: Future Work: Documentation Accessibility"

[2020-02-27 18:37] bistaastha commented on #72
@GeorgLink Hi! I am working on this document.

[2020-02-27 19:26] GeorgLink commented on #72
Awesome, please let me know if you have any questions or thoughts. We can discuss this metric and your work on the next CHAOSS D&I WG call.

[2020-02-28 08:37] bistaastha commented on #72
@GeorgLink That would be amazing :grin:

[2020-02-28 09:19] bistaastha commented on #72
The original link to Documentation in Description did not point to the intended file anymore. Turns out it is the same for other documents as well. I changed the link in this one, and it seems like now it points to the correct place. Can I go ahead and fix this for other resource pages as well?

[2020-02-29 07:26] paras151 commented on #135
What changes do we now need to make to the google document.I am kinda new here.

[2020-02-29 22:34] GeorgLink commented on #135
Hi @paras151. Thanks for alerting me to this issue. We already resolved this and the issue should be closed.

Our process for defining a metric is to prototype it in a google doc, then move it to a markdown page in the repository. Finally, the metric is released, like the Sponsorship metric of this issue was released: https://chaoss.community/metric-sponsorship/

[2020-02-29 22:34] #135 closed

[2020-03-01 07:41] geekygirldawn commented on #135
@paras151 If you are interested in helping to develop some other metrics, we are always looking for help! The best way to start is by joining one of our meetings - details here: https://chaoss.community/participate/ If you can't make the meetings, reach out to us on the mailing list, and we can help find something interesting for you to work on :)

[2020-03-01 17:27] bistaastha commented on #72
Hi @GeorgLink ! Under the Sample Objectives section, I've added four ways in which this metric could be used. While writing Sample Strategies, I was wondering if Code of Conduct could be used as a foundation for how the community members should interact. But if so, how could that be quantitatively measured? Also, could existing metrics be used directly to define new ones?

[2020-03-02 13:52] GeorgLink commented on #72
Hi @bistaastha, thanks for engaging with the metric definitions.

The google docs are based on an old template we had for metrics and we never got around to updating them. With the latest release, we decided to use a [new template](https://github.com/chaoss/metrics/blob/master/activity-metrics/metric-template.md) and have headings that match. -- I updated the headings in the google doc.

Yes, it i

[2020-03-02 18:01] bistaastha commented on #72
@GeorgLink Since Code of Conduct also defines rules for communication in channels, I was thinking if the [metric for Code of Conduct](https://chaoss.community/metric-code-of-conduct) could be used here to measure how inclusive a channel is supposed to be. But what if there is a difference between what the document states and how welcoming the environment of the channel is? Is there a way to measur

[2020-03-02 18:21] GeorgLink commented on #72
I have not looked into this. I don't know if this can work. Feel free to make suggestions if you have ideas.

[2020-03-04 16:15] SMotaal commented on #277
@bistaastha would you be interested in joining us in those Bi-weekly meetings?

[2020-03-04 16:30] SMotaal commented on #277
@Nebrethar I just asked that we move make D&I meeting updates on badging a bi-weekly agenda item to sync it with our pace.

We tentatively consider having it on next and every other week following that — ie March 11 is week 11 of 2020. This way we can hammer on fresh input from that meeting while it is relatively fresh, come up with async chores and use the board to report back.

This will be idea

[2020-03-04 22:56] SMotaal opened #279 "Discussion: Fine-graining the Documentation Accessibility description."
This issue tracks discussions related to the Description section of the Documentation Accessibility draft.

<table><tr><tr><td>

## Description

Documentation accessibility contains issues of technical accessibility as well as readability issues with the goal to foster understanding <ins>for the widest audience of potential contributors to the project. Users of documentation have different abiliti

[2020-03-04 23:04] SMotaal commented on #279
## Comments

[2020-03-04 23:11] SMotaal commented on #279
@jlovejoy, I do apologize, but the comments in the doc got too crowded… hope you don't mind discussing this here!

[2020-03-05 16:00] bistaastha commented on #277
Sure!

[2020-03-06 14:12] thecraftman commented on #277
Hi, i am ore-aruwaji tola i am interested in contributing to the CHAOSS outreachy project on - Build Workflow Process for CHAOSS Diversity & Inclusion Badging

[2020-03-10 18:12] bistaastha commented on #72
Hi @GeorgLink . I have added my ideas in the document.
Please let me know how I can improve this more. Thanks!

[2020-03-10 18:24] GeorgLink commented on #72
Thank you for adding your ideas.

I think you are on the right track with this idea. Surveying is an important tool.

For this or any metric to be ready for release, we need to have the mandatory elements filled in and enough information.

I think we need a better description of this metric and why it is important.

In the implementation section, we need more details on how to collect data. Maybe

[2020-03-11 03:51] bistaastha commented on #72
Thanks for your feedback!

Yes, I would like to work on this.

I didn't get the part about administering the survey. Can you please explain it more? I am assuming it is the same as the Data Collection Strategy.

I'll keep this in mind. :)

[2020-03-11 16:09] GeorgLink commented on #72
Yes, it is in the Data Collection Strategies. It would be nice to have some pointers for people who want to implement this metric about how to get started. E.g., do they post a survey link in each communication channel? Are the survey questions asked in a community survey? Are there micro-survey "feedback stars" (I don't know what they are called -- that asks contributors during their engagement w

[2020-03-11 17:18] bistaastha commented on #72
@GeorgLink I looked up these tiny surveys, turns out they are called star-rating surveys ([reference](https://www.questionpro.com/features/star-rating.html)).

This will help a lot. Thanks!

[2020-03-11 17:42] GeorgLink commented on #72
I also had something like this in mind: https://library.gv.com/micro-surveys-a-faster-way-to-learn-about-your-users-9a5ad64e1af2

[2020-03-11 18:07] bistaastha commented on #72
This is awesome!

I am wondering if something like this can be implemented if someone is leaving a channel?
For example if someone is leaving a mailing list, they can be asked why. I just came across a survey of this kind today morning.

[2020-03-11 21:56] jlovejoy commented on #279
I think we may have mostly resolved this in the doc??

[2020-03-12 03:11] GeorgLink commented on #279
I believe we resolved it today.

[2020-03-12 03:11] #279 closed

[2020-03-12 10:29] SMotaal commented on #279
---

So let's see a real-world example about accessibility, but please, do not just take a glance, this does not work if you do not try to operate with the urgency and sense of despair one might feel if they cannot play because they got the broken controller!

I've spent a very long time slowly figuring out how to GitHub is positioning its accessibility runaround… and decided they are publically d

[2020-03-12 18:54] bistaastha commented on #72
Hi @GeorgLink . I have added some questions to Data Collection Strategies. :)

[2020-03-18 22:04] SMotaal opened #280 "Discussion: Collaboration Accessibility"
Based on all the amazing efforts by everyone on the [Documentation Accessibility metric doc](https://docs.google.com/document/d/1OaKDksmuoi6nhaduZ4F96mTwQJvIFnfI8BqLx4MRO38/edit), I feel it is fair to start discussing the idea of a "Collaboration Accessibility" metric.

This issue would hopefully lead to a more concrete proposal for the metric, which I certainly have only my frame of reference to

[2020-03-18 23:10] GeorgLink commented on #280
Thank you for this suggestion.

[2020-03-21 18:39] bistaastha commented on #277
Hi @SMotaal! As discussed during the last Badge-athon, one was scheduled for this Sunday as well. Will you be sending out an invite for that or is everything same as last time?

[2020-03-22 15:22] Nebrethar commented on #277
Badgathons are moving to weekly. @SMotaal I nitpick for a name change on this page. 😄

[2020-04-21 20:17] GeorgLink opened #283 "Discuss GSoD participation"
From Venu on the mailing list today:

[2020-04-22 15:11] GeorgLink commented on #283
https://wiki.linuxfoundation.org/gsoc/2020-gsod-chaoss

[2020-04-22 17:20] GeorgLink commented on #283
We worked on the description today during the D&I meeting

[2020-05-06 16:29] mariamgui commented on #71
Thank you for adding the "good first issue" tag. I am really interested in working on this.

[2020-05-06 17:05] germonprez commented on #71
Great. Thanks @mariamgui! I do recommend that you check out the new metrics template located here:

https://github.com/chaoss/metrics/blob/master/resources/metrics-template.md

(You don't need the disclaimer to the activity metrics page -- at the top).

We updated this template between when the issue was opened and now.

[2020-05-06 18:07] mariamgui commented on #71
Thank you for the link @germonprez

[2020-05-06 18:09] germonprez commented on #71
Cool. The disclaimer was fixed (it is no longer there) so you can disregard that comment that I made in parentheses :)

[2020-05-07 20:02] GeorgLink commented on #220
I'm closing the issue because I got the sense that we got everything important collected.
Markdown export from the google doc (just in case it goes away)

# Collection of Surveys on D&I in open source

**Call to action:** Please add below references you know of related to surveys that were done in recent years to understand diversity and inclusion in open source communities.

Hi,

The CHAOSS D&I W

[2020-05-07 20:02] #220 closed

[2020-05-13 18:13] mariamgui commented on #71
Added a first draft for this metric, feel free to add any feedback or new ideas :)

[2020-05-27 18:54] GeorgLink commented on #119
In #284, @emmairwin proposed a new version of this metric. We are currently working on the new proposal in this google doc:

https://docs.google.com/document/d/1_GT6HghiYFwGL4KwKZL2lCAdnTc5jBPuIVxLGOmphUw/edit?usp=sharing

[2020-06-05 20:42] GeorgLink opened #286 "Discuss recommendation for Open Demographics"
@emmairwin and I had a conversation on the D&I in OSS mailing list about survey questions for demographics.

The CHAOSS D&I WG has been recommending the Open Demographics questions so that we don't duplicate work.
The Open Demographics project has not been actively maintained for a while now.

Emma and I see two paths forward:
1. Fork Open Demographics and maintain it within CHAOSS
2. Recommend th

[2020-06-10 15:29] #15 closed, assigned to nobody

[2020-06-10 15:55] GeorgLink opened #288 "Release Candidate Comments (Documentation Usability)"
This issue was created to collect comments about the upcoming metrics release.

This thread is for comments about **Documentation Usability**

GitHub location: https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus-areas/project-and-community/README.md

See all release candidates of metrics are at:
https://chaoss.community/metrics-202008/

[2020-06-10 19:18] mariamgui opened #291 "Release Candidate Comments (Issue Label Inclusivity)"
This issue was created to collect comments about the upcoming metrics release.

This thread is for comments about **Issue Label Inclusivity**

GitHub location: https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus-areas/project-and-community/README.md

See all release candidates of metrics are at:
[https://chaoss.community/metrics-202008/](https://chaoss.community/metrics-202008/)

[2020-06-11 14:28] #280 closed

[2020-06-11 14:28] #273 closed

[2020-06-11 14:29] #231 closed

[2020-06-11 14:30] #249 closed

[2020-06-11 14:31] germonprez commented on #222
I've label this issue as Metric Idea and am closing the issue. The idea is that we can capture all metric ideas (either new metrics or additions to existing metrics). We can then look at all Metric Ideas collectively.

[2020-06-11 14:31] #222 closed

[2020-06-11 14:32] germonprez commented on #162
I am closing the issue as it has been labeled as a metric idea. The idea is that we can capture all metric ideas (either new metrics or additions to existing metrics). We can then look at all Metric Ideas collectively.

[2020-06-11 14:32] #162 closed

[2020-06-11 14:33] germonprez commented on #114
I am closing the issue as it has been labeled as a metric idea. The idea is that we can capture all metric ideas (either new metrics or additions to existing metrics). We can then look at all Metric Ideas collectively.

[2020-06-11 14:33] #114 closed

[2020-06-11 14:33] germonprez commented on #72
I am closing the issue as it has been labeled as a metric idea. The idea is that we can capture all metric ideas (either new metrics or additions to existing metrics). We can then look at all Metric Ideas collectively.

[2020-06-11 14:33] #72 closed

[2020-06-11 14:33] germonprez commented on #115
I am closing the issue as it has been labeled as a metric idea. The idea is that we can capture all metric ideas (either new metrics or additions to existing metrics). We can then look at all Metric Ideas collectively.

[2020-06-11 14:33] #115 closed

[2020-06-11 14:34] germonprez commented on #67
I am closing the issue as it has been labeled as a metric idea. The idea is that we can capture all metric ideas (either new metrics or additions to existing metrics). We can then look at all Metric Ideas collectively.

[2020-06-11 14:34] #67 closed

[2020-06-11 14:34] germonprez commented on #117
I am closing the issue as it has been labeled as a metric idea. The idea is that we can capture all metric ideas (either new metrics or additions to existing metrics). We can then look at all Metric Ideas collectively.

[2020-06-11 14:34] #117 closed

[2020-06-11 14:35] germonprez commented on #121
I am closing the issue as it has been labeled as a metric idea. The idea is that we can capture all metric ideas (either new metrics or additions to existing metrics). We can then look at all Metric Ideas collectively.

[2020-06-11 14:35] #121 closed

[2020-06-11 14:35] germonprez commented on #118
I am closing the issue as it has been labeled as a metric idea. The idea is that we can capture all metric ideas (either new metrics or additions to existing metrics). We can then look at all Metric Ideas collectively.

[2020-06-11 14:35] #118 closed

[2020-06-11 14:35] germonprez commented on #113
I am closing the issue as it has been labeled as a metric idea. The idea is that we can capture all metric ideas (either new metrics or additions to existing metrics). We can then look at all Metric Ideas collectively.

[2020-06-11 14:35] #113 closed

[2020-06-11 14:36] germonprez commented on #112
I am closing the issue as it has been labeled as a metric idea. The idea is that we can capture all metric ideas (either new metrics or additions to existing metrics). We can then look at all Metric Ideas collectively.

[2020-06-11 14:36] #112 closed

[2020-06-11 14:36] germonprez commented on #111
I am closing the issue as it has been labeled as a metric idea. The idea is that we can capture all metric ideas (either new metrics or additions to existing metrics). We can then look at all Metric Ideas collectively.

[2020-06-11 14:36] #111 closed

[2020-06-11 14:36] germonprez commented on #110
I am closing the issue as it has been labeled as a metric idea. The idea is that we can capture all metric ideas (either new metrics or additions to existing metrics). We can then look at all Metric Ideas collectively.

[2020-06-11 14:36] #110 closed

[2020-06-11 19:48] GeorgLink opened #292 "Release Candidate Comments (Inclusive Leadership)"
This issue was created to collect comments about the upcoming metrics release.

This thread is for comments about **Inclusive Leadership**

GitHub location: https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus-areas/leadership/inclusive-leadership.md

See all release candidates of metrics are at:
https://chaoss.community/metrics-202008/

[2020-06-11 19:49] GeorgLink opened #293 "Release Notes for 202008 release"
This is to track conversation about what changed in the D&I WG since the last release

[2020-06-11 19:49] GeorgLink commented on #293
Added Inclusive Leadership metric

[2020-06-16 18:10] ElizabethN commented on #286
Just to clarify, this would include all the survey questions, not just the ones around dis/ability, correct?

[2020-06-16 18:16] ElizabethN commented on #293
Apologies if this is not the right place to ask this! In the spreadsheet, the upcoming metric is listed as "Leadership Diversity" but should it read "Inclusive Leadership" to align with what's here in this repo?

[2020-06-16 18:19] GeorgLink commented on #293
Yes, the spreadsheet needs to be updated. Thanks for catching this.

[2020-06-16 18:54] germonprez commented on #293
Done!

On Tue, Jun 16, 2020 at 1:20 PM Georg J.P. Link <notifications@github.com>
wrote:

--
Mutual of Omaha Professor
Information Systems
College of Information Science & Technology
University of Nebraska Omaha
CV: https://bit.ly/2kftONr

CHAOSS Board Member
https://chaoss.community/
matt@chaoss.community

he / him / his

[2020-06-17 15:30] GeorgLink commented on #286
Yes, all questions for demographics :)

[2020-06-24 15:57] klumb commented on #293
This issue was created to capture the continuous release notes. Insight from comments will be used to create the regular release note.

Example comments could be:

    name of new metric and date of release
    descriptions of changes to existing metric
    Changes to focus areas or restructuring of WG

[2020-06-24 18:28] jwflory opened #294 "New idea: Interview campaign with underrepresented groups in Open Source"
# Summary

Create an informal process / template for someone to conduct a qualitative interview about Diversity and Inclusion in Open Source

# Background

In the 2020-06-24 CHAOSS D&I Working Group meeting, a new metric idea for Closed Captioning was mentioned for virtual events, since they are becoming more common in the times of COVID-19. On #a11y Twitter, there have been voices calling for Clo

[2020-06-25 16:22] ElizabethN commented on #198
Just wanted to drop a note in here that we should also check for color-blindness. Apps like [Colorblindly](https://chrome.google.com/webstore/detail/colorblindly/floniaahmccleoclneebhhmnjgdfijgg) and [Sim Daltonism](https://michelf.ca/projects/sim-daltonism/) can help. Should we open an issue in the website repo for this?

[2020-06-25 18:55] germonprez commented on #198
Yes, likely a good thing to add to the website repo -- that is, add the
issue there.

On Thu, Jun 25, 2020 at 11:22 AM Elizabeth Barron <notifications@github.com>
wrote:

--
Mutual of Omaha Professor
Information Systems
College of Information Science & Technology
University of Nebraska Omaha
CV: https://bit.ly/2kftONr

CHAOSS Board Member
https://chaoss.community/
matt@chaoss.community

he / him /

[2020-06-28 16:19] klumb commented on #291
link to the metric:
https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus-areas/project-and-community/issue-label-inclusivity.md

[2020-06-28 16:21] klumb commented on #293
Added new focus area - Projects and Communities

[2020-06-28 16:25] klumb commented on #288
Link to metric:
https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus-areas/project-and-community/documentation-usability.md

[2020-07-02 14:49] foundjem commented on #292
Overall, I think this metric is of utmost importance. However, I have one concern, on the "inclusive leadership cycle," six structured principles serve as a check-list. Are those related to the six listings below? Moreover, I don't know if there are sequential steps. For example, you must start from step 1, then step 2, etc., (clockwise) I think it's important to know the flow of things.

Signed-o

[2020-07-02 14:59] foundjem commented on #288
LGTM!

Signed-off-by: Armstrong <foundjem@ieee.org>

[2020-07-02 15:05] foundjem commented on #291
This metric seems too broad, is it capturing how a particular project is inclusive?

Signed-off-by: Armstrong <foundjem@ieee.org>

[2020-07-06 19:28] SeburoSUMO opened #296 "New idea - a "conversation" issue"
Hi

I have been pointed in the direction of this project as a place that may be able to make use of an idea I have had further to my ongoing contribution to Mozilla.

Where contributors are involved in an open project on a platform such as GitHub, it is easy for issues to be taken up by conversation or discourse.  At the same time, I appreciate that there are some projects that do not have the res

[2020-07-06 20:30] GeorgLink commented on #296
Hi @SeburoSUMO -- I agree that each community can appropriate technology as it sees fit, including using a GitHub issue for conversations that are not software related.

What metric do you think this would best align with?

[2020-07-06 21:25] SeburoSUMO commented on #296
Hi @GeorgLink

Looking at the focus areas listed on the CHAOSS site, I would initially look at this as being linked to Communication Inclusivity, but at there is also an element of Governance in so much that having an easy to reach communication "bucket" such as this could be a good way for people to flag up urgent concerns.

[2020-07-08 15:38] germonprez commented on #291
It is working to capture if the labels associated with issues can be used to improve inclusiveness of a project.

[2020-07-08 15:46] GeorgLink commented on #292
Thank you @foundjem for the feedback :)

We removed the confusing figure and removed the numbering to avoid implying sequential order.

[2020-07-08 19:30] germonprez commented on #296
@SeburoSUMO is there anyway that you can proposed this via a shared document? This is something that I think we'd be happy to talk about at our next D&I call (July 15th).

[2020-07-09 19:25] ElizabethN commented on #294
@jwflory This is a great writeup. Just to be clear, are you specifically looking at a11y issues, or D&I efforts in general? I really love the idea of partnering with other groups and individuals who are domain experts in these areas and asking for their input as we develop these metrics. I vote that we add this to the agenda for the next D&I Working Group meeting, and hopefully get an action plan

[2020-07-10 19:39] SeburoSUMO commented on #296
I hope that this is okay.  Document is set so that anyone with the link can comment:

https://docs.google.com/document/d/1NJ_h5iNCnefACvkkF0N__j_skhyBuAnMieDKwCSXyQg/edit?usp=sharing

[2020-07-10 22:51] GeorgLink commented on #296
Yes, thank you!

At the bottom of the document, I copied the template we have for metrics so that we can start filling that out.

Could you please make the “edit” permission public? I was only able to make a suggestion.

[2020-07-11 01:54] jwflory commented on #294
I'll join the next D&I call :slightly_smiling_face:

[2020-07-14 15:44] mbbroberg commented on #292
Awesome addition to our community! I offer a minor edit in #298. Great work gang :smile:

[2020-07-14 15:57] mbbroberg commented on #291
I find this metric to be straightforward and unique overall, but I do have a couple thoughts for it.

### 1 - are the listed filter correct for this metric?

Based on the title and objective to (paraphrasing) capture data about the clarity of and usability of labels, the filters don't line up since they are general metrics on issues themselves as opposed to scoping to the objective. Some filters t

[2020-07-14 16:13] mbbroberg commented on #288
This is a collection of great practices and advice. I'm curious if there's advice that could be offered to roll the experience into a metric from the qualitative approach listed. For example: "After interviewing, the community can track responses to each prompt as `Positive experience`, `Negative experience, or `Neutral experience` and report these month-over-month to see improvement over time."

[2020-07-14 16:18] mbbroberg commented on #288
One more thing: the phrase "structured intuitively" has some unspoken assumption to it that I'm not sure what is intended. I _think_ it is: "structured intuitively based on common practices as outlined [here]" where [here] is the benchmark or standard we're basing this concept off.

[2020-07-14 17:09] mariamgui commented on #291
The idea of this metric is to gauge whether or not the issue list and more precisely its labels speaks to a variety of contributors that have different goals (code, documentation, translation, etc...) and are at different contribution stages (newcomer, expert etc...). An ideal scenario would be for anyone to be able to find an issue to work on and for the labels to be defined in a way that makes t

[2020-07-14 17:41] mariamgui commented on #288
This is a great metric idea, the fact that it involves the input of actual newcomers in the data collection is really interesting and would provide a good perspective 👍

Some minor suggestions about the example interview questions:

Since the first two questions are open ended we can switch the phrasing to  _"**describe** your experience with using the documentation to understand the contribution

[2020-07-14 18:24] SeburoSUMO commented on #296
Hi @GeorgLink

Sorry for that, I think I have now changed it for public editing:

https://docs.google.com/document/d/1NJ_h5iNCnefACvkkF0N__j_skhyBuAnMieDKwCSXyQg/edit?usp=sharing

[2020-07-14 18:38] GeorgLink commented on #296
Thank you

[2020-07-15 10:01] Erioldoesdesign commented on #294
When is this D&! call and how can I join too :D @ElizabethN

I love this issue but in general, I think this repo could benefit from some labels that might help researchers/UX researchers discover this issue?

Also, I highly recommend looking into the [Secure UX checklist](https://static1.squarespace.com/static/5e28cfb6752be803fc51f907/t/5eaa5b9f4f2f3e5a01d381ba/1588222879354/Secure+UX+Checklist.pd

[2020-07-15 10:34] germonprez commented on #294
Hey @Erioldoesdesign, the D&I call is at 10am CDT Wednesdays. Connection information here: https://chaoss.community/participate/

Thanks for the suggestion of tags (agreed) and the Secure UX checklist. I'm not familiar with that but would love to learn more :)

[2020-07-22 14:17] bistaastha opened #299 "Metric idea: Communication Inclusivity in Event Focus Area"
CHAOSS D&I Badging recently had a Pilot Testing phase.

During that time, @ElizabethN opened an issue for providing feedback for the process, which lives here - https://github.com/badging/event-diversity-and-inclusion/issues/8

A particular fraction of the feedback contained these questions that can be asked to a CHAOSS Badging Applicant:

[code]

This part of the feedback can possibly be looked i

[2020-07-23 21:20] mbbroberg commented on #291
Great points and I appreciate the thoughtful response!

I am in full support of capturing all of the above. As a user of this metric, I'm not sure what I am expected to come with vs what I learn from this metric in the process of using it. For instance

- with 'technical jargon' -- do I bring a set of terms that are technical jargon and implement this metric by counting the usage of them across th

[2020-07-29 15:43] GeorgLink commented on #288
We accepted this suggestion. Thank you!

[2020-07-29 15:44] GeorgLink commented on #288
Thank you, we like this suggestion and accept it.

[2020-07-29 15:47] GeorgLink commented on #288
Thank you @mbbroberg , we remove "structured intuitively" and replaced it with "understanding"

[2020-07-29 15:50] dabbish commented on #288
Great idea to get at the issue of documentation usability. Regarding comfort with language / technical terms - what about asking:

"Were there any terms or language you didn't understand?"

To help identify specific instances of confusing terminology to iterate on or add definitions for.

[2020-07-29 15:52] GeorgLink commented on #288
@mbbroberg

I opened #301 to see if that works for you

[2020-07-29 22:17] mbbroberg commented on #288
Absolutely @GeorgLink, that'd work from my perspective.

[2020-07-30 23:40] rpaik commented on #292
Under Objectives, it should perhaps read "Signal to newcomers that everyone is welcome and everyone can be successful"

The way it's written now, it sounds like only certain people will be welcome.

[2020-07-30 23:44] rpaik commented on #292
One item that seems to be missing is where these guidelines should be documented. Ax example list maybe helpful (e.g. Code of Conduct, Participation Guidelines, Bylaws, or other governance documents).

[2020-07-30 23:53] rpaik commented on #288
Under data collection strategies one of the bullets says "Describe your experience with using the documentation to understand the contribution process."

I don't think it should be limited to the contribution process as they will be people (e.g. users) who will be reading documentations to understand the software, technology, etc.

[2020-07-30 23:55] rpaik commented on #288
Would a possible metrics for documentation usability be the number of documentation bugs/issues?

[2020-07-31 11:53] germonprez commented on #292
Thanks @rpaik -- I issued a PR for the objectives statement. Do you have thoughts on where your guidelines documentation comment could live in the metric?

[2020-07-31 11:58] germonprez commented on #288
Hi @rpaik

The "Describe your experience with using the documentation to understand the contribution process." is just an example. It could certainly include other forms of engagement. What do you think about adding another bullet point like:

"Describe your experience with using the documentation to understand how to help outreach efforts."

For the bugs/issues comment, do you think that would be

[2020-08-05 15:24] germonprez commented on #291
@mbbroberg could you take a shot at issuing a PR based on these suggested changes?

[2020-08-05 15:43] Nebrethar opened #305 "Duplicate Metrics"
At the release, we will have some duplicate metrics. For example...

[Issue Tracker](https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus-areas/project-and-community/issue-tracker.md) and [Issue Label Inclusivity](https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus-areas/project-and-community/issue-label-inclusivity.md)
[Documentation](https://github.com/chaoss/wg-dive

[2020-08-07 18:24] klumb commented on #292
@GeorgLink is this metric ready?

[2020-08-07 18:25] klumb commented on #291
@mariamgui, is this metric ready?

[2020-08-07 18:25] klumb commented on #288
@GeorgLink is this metric ready?

[2020-08-08 11:58] germonprez commented on #292
Ready for release.

[2020-08-08 11:58] #292 closed

[2020-08-08 11:58] germonprez commented on #291
Ready for release

[2020-08-08 11:58] #291 closed

[2020-08-08 11:59] germonprez commented on #288
Ready for release

[2020-08-08 11:59] #288 closed

[2020-08-08 17:05] mariamgui commented on #291
@klumb I believe it's ready :)

[2020-08-08 18:54] klumb commented on #291
Thanks @mariamgui and @germonprez

[2020-08-08 19:42] klumb commented on #293
closing for release 2020-08

[2020-08-08 19:42] #293 closed

[2020-08-08 19:42] klumb opened #311 "Release Notes - 2021-02"
This issue was created to capture the continuous contribution notes. Insight from comments will be used to create the regular release notes.

Example comments could be:

name of new metric and date of release
descriptions of changes to existing metric
Changes to focus areas or restructuring of WG

[2020-08-12 14:39] germonprez commented on #70
@GeorgLink do you think that this is now being addressed as part of our current metric on Documentation:

https://chaoss.community/metric-documentation-usability/

As well as the development of new Documentation metrics at:

https://docs.google.com/document/d/1OaKDksmuoi6nhaduZ4F96mTwQJvIFnfI8BqLx4MRO38/edit#heading=h.7c8aneuch0wb

[2020-08-12 14:40] germonprez commented on #71
Closing as this has been released as

https://chaoss.community/metric-issue-label-inclusivity/

[2020-08-12 14:40] #71 closed

[2020-08-12 14:42] germonprez commented on #197
@klumb is there anything we can do to help in this regard via wordpress? I'm not sure how much control we have.

[2020-08-12 14:45] germonprez commented on #201
@foundjem and @dicortazar I'm not sure where this is at. Is this related to current metrics releases:

https://chaoss.community/metric-mentorship/

Or is this about mentorship within the CHAOSS project?

[2020-08-12 14:46] germonprez commented on #278
@SMotaal I think that we can close this as the metrics development around Documentation is now coming along quite nicely. What do you think?

[2020-08-12 14:49] germonprez commented on #216
@GeorgLink I think this has been resolved as I do not see the term 'diverse people' in our metrics.

[2020-08-12 15:10] klumb commented on #197
Thanks @mpgjon, we are always interested in making the website more inclusive.

I have reviewed the home page using the tool that you provided and believe that it gets a passing grade. I welcome outside reviews and am happy to make changes.

Should a page be found that isn't in compliance, an issue can be opened on the website repo. We can fix these issues independently.

The color palette and tem

[2020-08-12 15:16] Erioldoesdesign commented on #58
http://gendermag.org/downloadables/GM-Heuristics-2018-0704.pdf < does not exist anymore :(

[2020-08-12 15:17] Nebrethar commented on #58
https://gendermag.org/Old_GM_Site/downloadables/GM-Heuristics-2018-0704.pdf < new link

[2020-08-12 15:18] GeorgLink commented on #58
Closing until we revisit this metric.

[2020-08-12 15:18] #58 closed

[2020-08-12 15:21] GeorgLink commented on #70
It is work in progress because we have two more Documentation metrics (Accessibility and Discoverable) in the work.

[2020-08-12 15:22] germonprez commented on #70
I think we should also consider Documentation Time Diversity.

[2020-08-12 15:22] GeorgLink commented on #70
TODO: create new issues for the metrics we have in work and close this issue.

[2020-08-12 15:24] GeorgLink opened #313 "Under Review: Documentation Discoverability"
In #70, we started work on documentation metric. That one metric got split into multiple, including **Documentation Discoverability**

The work is occurring in this google doc: https://docs.google.com/document/d/1OaKDksmuoi6nhaduZ4F96mTwQJvIFnfI8BqLx4MRO38/edit#heading=h.3oo2o1zgfps2

The goal is to finalize the metric for the 2021-10 release.

-----
This issue is created to collect comments about

[2020-08-12 15:25] GeorgLink opened #314 "New Metric: Documentation Accessibility"
In #70, we started work on documentation metric. That one metric got split into multiple, including **Documentation Accessibility**

The work is occurring in this google doc: https://docs.google.com/document/d/1OaKDksmuoi6nhaduZ4F96mTwQJvIFnfI8BqLx4MRO38/edit#heading=h.3oo2o1zgfps2

The goal is to finalize the metric for the 2021-02 release.

[2020-08-12 15:26] GeorgLink commented on #70
Waiting for the creation of an issue for **Documentation Time Diversity** before we close this issue.

[2020-08-12 15:49] klumb commented on #198
Please see website issue https://github.com/chaoss/website/issues/408

Asking for volunteers to conduct inclusivity reviews

[2020-08-12 15:49] klumb commented on #197
Please see website issue chaoss/website#408

Asking for volunteers to conduct inclusivity reviews

[2020-08-12 15:57] GeorgLink commented on #216
Thanks for checking :)

[2020-08-12 15:57] #216 closed

[2020-08-12 15:58] GeorgLink commented on #314
closing as duplicate of #278

[2020-08-12 15:58] #314 closed

[2020-08-12 15:58] GeorgLink commented on #278
In #70, we started work on the documentation metric. That one metric got split into multiple, including **Documentation Accessibility**

The work is occurring in this google doc: https://docs.google.com/document/d/1OaKDksmuoi6nhaduZ4F96mTwQJvIFnfI8BqLx4MRO38/edit#heading=h.3oo2o1zgfps2

The goal is to finalize the metric for the 2021-02 release.

[2020-08-12 17:26] germonprez opened #315 "Metric Idea: Documentation Time Diversity"
This would be a new metric under the Project and Community focus area.

The premise of the metric is to observe and measure how well documentation is broken down so that it can be read and engaged with in small blocks of time. No all people have the ability to spend extended periods of time with documentation and this metric would help better understand how projects have addressed this concern.

@

[2020-08-12 17:26] germonprez commented on #70
Split out as independent issues.

[2020-08-12 17:26] #70 closed

[2020-08-12 18:08] GeorgLink commented on #70
Documentation Time Diversity is now in #315

[2020-08-13 15:31] Erioldoesdesign commented on #315
Sounds perfect! :D

[2020-08-19 15:32] germonprez commented on #34
closing as addressed with issue #312

[2020-08-19 15:32] #34 closed

[2020-08-19 16:07] germonprez commented on #286
I'm going to open an issue in the Open Demographics repo to address this issue.

[2020-09-18 17:08] amcasari commented on #240
This is an interesting way to evaluate both the priorities and focus of event organizers to support different audience members, as well as the actions of speakers.

I suspect we would need to bifurcate this at least once: online event, in-person event.

Potentially, capturing a spectrum of accessibility features:

**Metrics for an online event**:
- Platform accessibility features (as a binary vari

[2020-09-18 19:43] germonprez commented on #240
Fantastic! Thanks @amcasari. This is very, very helpful! We are certainly thinking about in-person and virtual events and what you provide here is just great. I see this as helping, not only push this metric forward, but also with the D&I Event Badging Program (https://chaoss.community/diversity-and-inclusion-badging/)

[2020-10-01 11:30] germonprez commented on #277
Closing

[2020-10-01 11:30] #277 closed

[2020-10-07 15:53] jwflory opened #318 "Metric Idea: Mode Alternatives / Communication Channels"
_Discussed in [2020-10-07 meeting](https://docs.google.com/document/d/1MzDk84BL7FfHDxbFxJz39M72V2Hfc5Y6oCPhOl6woxo/edit#heading=h.edc1in398ch8)._

---

# Summary

Create a new metric about inclusivity of different Communication Channels for open community discussion

# Background

In today's WG meeting, we briefly discussed how inclusivity is a factor to consider when picking or using different sy

[2020-10-14 15:10] Nebrethar opened #319 "Release Candidate Comments (Project Burnout)"
This issue was created to collect comments about the next metrics release.

This thread is for comments about the Project Burnout metric.

Release candidate at: https://chaoss.community/metric-project-burnout/
GitHub location: https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus-areas/project-and-community/project-burnout.md

[2020-10-14 19:14] GeorgLink commented on #311
New metric: Project Burnout (#316)

New metric: Documentation Accessibility (#320)

[2020-10-14 19:23] GeorgLink opened #321 "Release Candidate Comments (Documentation Accessibility)"
This issue was created to collect comments about the next metrics release.

This thread is for comments about the Documentation Accessibility metric.

Release candidate at: https://chaoss.community/metric-documentation-accessibility/
GitHub location: https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus-areas/project-and-community/documentation-accessibility.md

[2020-10-16 18:59] LawrenceHecht commented on #319
Was there already a discussion about including this metric in one of the other working groups? For example, burnout is obviously a risk factor.

[2020-10-16 19:10] LawrenceHecht commented on #319
Are you looking for an alerting system for individual contributors or for the overall community?

Many of the suggested survey questions won't work -- how do you do an anonymous survey when there are only a small group of contributors?

[2020-10-19 12:59] GeorgLink commented on #319
Thanks @LawrenceHecht

Yes, the burnout metric and others can be used for different purposes. We currently place metrics with the working group that defined the metric. We have had conversations about how to better present the metrics that reflects their different use cases.

My understanding of the metric is that it is for the overall community.

We have not tested the survey questions or seen an

[2020-10-19 15:24] LawrenceHecht commented on #319
@GeorgLink I will try to attend the Wednesday working group meeting and provide feedback then. If I don't attend, I'll provide more feedback directly in this issue thread.

[2020-11-11 16:38] GeorgLink commented on #319
We discussed on the D&I WG call today that keeping the metric in one (not split) would be better for conveying the importance of this metric. We acknowledge that there is a lot going on in the metric but we see it as a feature to inspire people and when someone wants to implement it we can have a new conversation about how to use it in a specific context.

We continue to accept comments and sugges

[2020-11-11 17:06] jwflory commented on #318
_Discussed in [2020-11-11 meeting](https://docs.google.com/document/d/1MzDk84BL7FfHDxbFxJz39M72V2Hfc5Y6oCPhOl6woxo/edit#heading=h.cxtbjm4xlqqz)_.

---

As promised, I shared my first draft in today's WG meeting: [Public Chat Rooms - CHAOSS D&I Metric (draft)](https://docs.google.com/document/d/1JEiA1OTyXBCaexgK_zxSx6eIXfOAdbMHjqzho0hlHSY/edit). We had time for a short collaborative brainstorm, but

[2020-11-18 16:05] sgoggins commented on #319
Status quo.

[2020-12-16 16:19] germonprez opened #328 "Release Candidate Comments (Chat Platform Inclusivity)"
This issue was created to collect comments about the next metrics release.

This thread is for comments about the Chat Platform Inclusivity metric.

Release candidate at: https://chaoss.community/chat-platform-inclusivity/
GitHub location: https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus-areas/project-and-community/chat-platform-inclusivity.md

[2020-12-16 16:20] klumb commented on #311
New metric: Chat Platform Inclusivity #328

[2021-01-05 04:13] king-gao opened #339 "Metric Idea: Language Diversity"
**Question：** What language of community communication can be used more widely?
The open source community is a platform for multi-language communication. Members from different countries and languages communicate with each other. Therefore, language barriers may exist.
There are six official languages of the United Nations, namely Arabic, Chinese, English, French, Russian and Spanish，these languag

[2021-01-05 14:51] germonprez commented on #339
Thanks for this @king-gao. I really like the idea of exploring language in more detail. We will certainly bring this up in the D&I meeting.

[2021-01-06 16:31] germonprez commented on #339
Thanks @king-gao. We talked about this today in the D&I meeting. Right now, we have a few other related metrics that are released or under community review:

https://chaoss.community/metric-documentation-accessibility/

The response with respect to language diversity was very positive. The things we will continue to talk about will be how we can incorporate what you propose with these new metrics.

[2021-01-07 08:04] king-gao commented on #339
Thanks @germonprez , [Documentation Accessibility](https://chaoss.community/metric-documentation-accessibility/) is great!  I think it is larger than language diversity in Documentaion scope.

This metric gives me a good hint. Shall we consider from **information Accessibility**.
because in community , there are many different kinds of infomation style beside documentaion, like video, audio, pictu

[2021-01-10 17:41] LawrenceHecht commented on #339
I have a problem with the focus on "documentation". Accessibility to all types of info and communication is impacted by languages used as well as the other factors traditionally considered in the accessibility categories.

So, I like @king-gao's idea about Info Accessibility. I am going to link to this thread in the approval comments for the Doc Access. release candidate thread.

[2021-01-10 17:46] LawrenceHecht commented on #321
#339 is related to this. I don't think document accessibility should be a separate metric. "Information Accessibility" is a better way to think of things. In a broader way of thinking of things, it can be Communication Accessibility, which @geekygirldawn typed up 2 years ago: https://github.com/chaoss/wg-diversity-inclusion/tree/master/focus-areas/communication

[2021-01-13 15:25] germonprez commented on #286
This has been resolved. Matt G. and Georg L. are now maintainers on the Open Demographics repo. We had a great discussion regarding the relationship between the two projects.

[2021-01-13 15:25] #286 closed

[2021-01-13 16:27] GeorgLink commented on #305
Decided today in meeting:

remove https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus-areas/project-and-community/issue-tracker.md
* We have a specific implementation with Issue Label Inclusivity

remove https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus-areas/project-and-community/documentation.md
  * This is now three new metrics Documentation {Accessibility, Usabi

[2021-01-13 16:27] Nebrethar commented on #305
Thanks!

[2021-01-13 16:37] germonprez commented on #305
This issue has been addressed through the following PRs

#340
#341
#342

[2021-01-31 20:06] LawrenceHecht commented on #319
Making a note here that I have a PR related to this metric: https://github.com/chaoss/wg-diversity-inclusion/pull/343

[2021-01-31 23:15] Sing-Li commented on #328
Hello,  the metrics seem to assume that the open source organization owns one instance of the chat platform.   Some platform allows mapping of a code repository per chat room (or per set of chat rooms), with multiple organizations/projects sharing an instance.   Perhaps the metrics should take this into account.

[2021-01-31 23:38] germonprez commented on #328
Hi @Sing-Li and thanks for the thoughtful comment. Do you have thoughts on where/how this might be best captured in the current metric?

[2021-02-01 00:19] Sing-Li commented on #328
Hmm.  Perceval already collects data per channel, so there is no need to modify the data collection strategies.       (thanks for the reply @germonprez !)

But I do see interchangeable mixed use of “Chat Platform” and “Chat Service” in the current doc.

Perhaps standardizing the use of the term “Chat Platform” within the document, and add an explicit explanation in the “Description” clarifying tha

[2021-02-01 18:46] germonprez commented on #328
Great advice! I'll take a pass at the doc and maybe tag you for a look in the PR :)

[2021-02-02 11:35] germonprez commented on #328
Hi @Sing-Li I've created PR #345 to address these concerns. Do you think this works?

[2021-02-02 21:14] #305 closed

[2021-02-02 21:16] germonprez commented on #296
Hi @SeburoSUMO

Could you take a look at the template that @GeorgLink provided in your doc and place some of your text into the appropriate headings? This would be great in helping us to consider this metric.

[2021-02-02 21:18] germonprez commented on #201
Hello all :) @foundjem and @dicortazar do either of you have an update on this issue?

[2021-02-02 22:30] conferencepapers commented on #201
Hello @germonprez, I guess there was a metric around this topic, which could apply to any context on mentoring.
Hopefully, it can go in the metric review/release.

Sign-off-by: Armstrong <foundjem@ieee.org>

[2021-02-03 12:26] germonprez commented on #201
There is this metric that has been released:
https://chaoss.community/metric-mentorship/

I will consider this release as addressing this issue.

[2021-02-03 12:26] #201 closed

[2021-02-03 12:27] germonprez commented on #252
This!! This is the template that I think we should use when reflecting on D&I in the CHAOSS project.

[2021-02-03 16:53] jwflory commented on #328
#345 is now merged. 🎉

[2021-02-03 17:15] friyaz opened #346 "Strandardize working group repository structure"
Hello everyone,

We are trying to make a standard and uniform repository structure for all working groups of CHAOSS. This will make things easier for new members. See this [document](https://docs.google.com/document/d/1chPzgJa49sO_f3wVqp_NLJupSVyKHSVyuFuwzl4m4KI/edit#) to know details about the proposed repo structure.

Please provide your feedback or concern about this proposal.

[2021-02-08 21:39] SeburoSUMO commented on #296
Hi @germonprez

Apologies for not responding earlier, I did not know there was a needinfo outstanding for me.

At the time I wrote that document, I was unaware of the [GitHub Discussions](https://docs.github.com/en/discussions) feature.  This is the same thing I was trying to outline - an area that contributors to a project without an open communication channel could discuss matters.  Although thi

[2021-02-08 21:39] #296 closed

[2021-02-08 21:44] germonprez commented on #296
Sound good. Thanks @SeburoSUMO

[2021-02-15 23:44] rpaik commented on #328
I see IRC listed as an example platform that both requires and doesn't require persistent connections and this is obviously confusing. Are there actually platforms that require persistent connections?

[2021-02-15 23:47] rpaik commented on #328
Also, maybe we remove "Platforms" from

- Number of active Chat Platforms / rooms / groups

This may give people the impression that we're advocating for multiple chat platforms (e.g. Slack, IRC, RocketChat, etc.) in a community.

[2021-02-15 23:52] rpaik commented on #321
The matrix rows for surveying community members seem focused on topics related to governance or community. What about gauging how easy it is to find information on the software, features, technical project, etc?

[2021-02-16 12:47] germonprez commented on #321
Thanks @rpaik How about including these:

- Installation procedures
- Feature development
- API integration
- Test suites

Thinking off the top of my head.

[2021-02-16 16:19] rpaik commented on #321
Thanks @germonprez. How about also adding:
* Architecture overview
* User guide

[2021-02-16 16:49] LawrenceHecht commented on #318
@germonprez right now, this PR is labeled as "Under Community Review" in the CHAOSS Metrics worksheet.  I'm assuming it should "Ready to be worked on", but I didn't make that change.

[2021-02-17 15:44] germonprez opened #348 "New Metric: Onboarding"
There was a proposal in the Feb 10, 2021 meeting to consider this as a metric.

It is currently in the spreadsheet under Leadership:
https://docs.google.com/spreadsheets/d/1tAGzUiZ9jdORKCnoDQJkOU8tQsZDCZVjcWqXYOSAFmE/edit#gid=0

Is this appropriate?

[2021-02-17 16:38] jwflory commented on #328
@rpaik I am curious to better understand your thoughts here. I am not following your confusion. Is there an inclusivity issue you think this metric should look at with persistent or non-persistent connections? I could follow this train of thought, but I am wondering if this is something to detail in the metric.

+1. PRs for this are welcome. 🙂

[2021-02-17 16:40] Nebrethar commented on #328
Currently a 404. Pinging @klumb for roadside service on this issue!

[2021-02-17 16:42] germonprez commented on #321
I'll make a PR for this.

[2021-02-18 03:12] rpaik commented on #328
My question is are you saying IRC requires a persistent connection or it doesn't? I don't think it could be both.

[2021-02-18 03:18] rpaik commented on #321
Thanks @germonprez!

[2021-02-18 11:40] germonprez commented on #321
Done! Pinged you as a reviewer @rpaik :)

[2021-03-06 16:19] klumb opened #351 "Release Notes 2021-09"
This issue was created to capture the continuous contribution notes. Insight from comments will be used to create the regular release notes.

Example comments could be:

name of new metric and date of release
descriptions of changes to existing metric
Changes to focus areas or restructuring of WG

[2021-03-06 16:22] klumb commented on #328
Closing for release

[2021-03-06 16:22] #328 closed

[2021-03-06 16:23] klumb commented on #319
Closing for release

Unmerged PRs #343  and #347 - Please address in the next release

[2021-03-06 16:23] #319 closed

[2021-03-06 16:25] klumb commented on #321
Closing for release

[2021-03-06 16:25] #321 closed

[2021-03-06 16:26] klumb commented on #311
Closing for release

[2021-03-06 16:26] #311 closed

[2021-04-16 17:05] yash2002109 opened #358 "Standard Structure for README.md in each WG repo"
Hi everyone,

While standardizing the repositories, I noticed that the [README](https://github.com/chaoss/wg-diversity-inclusion/blob/master/README.md) file of each working group has a different structure. After discussing with @GeorgLink, I have drafted a proposal for a common structure that can be implemented across these README files. I have also replicated the same as a [template](https://gith

[2021-04-21 19:54] germonprez opened #361 "A Few Great Ideas for Event Metrics"
The following are some great ideas that we should consider for event metrics:

- Agenda Content
   - Sessions for DEI
   - Events that bring together Diverse Attendees
- Non-binary Restrooms / Nursing Rooms / Quiet Rooms
- Communication and Pronoun Stickers (not preferred pronouns)

[2021-05-05 15:11] #197 closed

[2021-05-05 15:11] #198 closed

[2021-05-05 15:16] sgoggins commented on #74
My experience maintaining Augur has underscored the role of code readability in DEI work. More readable, understandable structure, which we achieved through refactoring work over the past year, has made it palpably easier to involve new contributors.

[2021-05-05 15:17] sgoggins commented on #109
@GeorgLink I *think* we have addressed communication exclusivity in the metrics spreadsheet.

[2021-05-05 15:20] sgoggins commented on #192
@mpgjon : I think the website for CHAOSS is addressing its own self internally.  There is also a released metric right now that includes document inclusivity. I think this an e closed.

[2021-05-05 15:20] GeorgLink commented on #109
Yes. I don't remember if there was anything else. Let's close this issue.

[2021-05-05 15:20] #109 closed

[2021-05-05 15:21] sgoggins commented on #240
@germonprez : This does seem like something that could be added to a  badging level.

[2021-05-19 15:43] germonprez commented on #351
Documentation Discoverability is a new metric in the Project and Community focus area.

[2021-05-20 14:05] ElizabethN commented on #313
@klumb this is ready to be part of the continuous release process, but if it shouldn't have this label, sorry!

[2021-05-26 15:05] klumb commented on #313
This issue was created to collect comments about the next metrics release.

This thread is for comments about the Documentation Discoverability metric.

Release candidate at: https://chaoss.community/documentation-discoverability/
GitHub location: https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus-areas/project-and-community/documentation-discoverability.md

[2021-05-27 16:45] klumb commented on #313
@chaoss/di-working-group

This is live on the website now

[2021-06-02 15:20] germonprez opened #363 "Add Code of Conduct Enforcement to both CoC at Event and CoC at Project"
This issue is to highlight that we need to add comments of enforcement to both the released metrics of:

CoC at Event

and

CoC in Project

[2021-06-09 15:17] sgoggins commented on #363
This is super important. Working group agrees.

[2021-06-09 15:19] geekygirldawn commented on #363
The [Contributor Covenant](https://www.contributor-covenant.org/version/2/0/code_of_conduct/) sections about enforcement might give you some ideas for adding this to the metric.

[2021-07-07 15:53] jwflory opened #366 "New metric focus areas: Virtual Events; In-Person Events"
# Summary

Add two new [focus areas](https://docs.google.com/spreadsheets/d/1tAGzUiZ9jdORKCnoDQJkOU8tQsZDCZVjcWqXYOSAFmE/edit?usp=sharing) for DEI WG:

* Virtual Events
* In-Person Events

# Background

In the July 7th meeting of the DEI Working Group, we reviewed an upcoming metric for [global time inclusivity](https://docs.google.com/document/d/1Y1jLiAfhmzwRef3RENwdOrev2s9NK2b3pC_wEJ-2UfU/edit).

[2021-07-21 14:50] ElizabethN opened #369 "Add "Equity" to the Readme"
This was a suggestion from a comment in the development of the Psychological Safety metric by @GeorgLink, who suggested that perhaps we should add "equity" to this resource here: https://github.com/chaoss/wg-diversity-inclusion/blob/master/demographic-data/README.md

Would that fit? What do we think about that? Would love to have a discussion about that here.

[2021-07-21 15:18] Nebrethar opened #370 "Under Review: Time Inclusion For Virtual Events"
Template taken from @GeorgLink  :)

In PR #368, we are working on a time inclusion metric.

The goal is to finalize the metric for the 2021-10 release.

---

This issue is created to collect comments about the rolling release of "Time Inclusion for Virtual Events"

This metric can be found here: https://github.com/chaoss/wg-diversity-inclusion/pull/368

See all release candidates: https://chaoss.c

[2021-07-21 15:26] Nebrethar opened #371 "Under Review: Attendee-Speaker Demographics -> Event Demographics"
In Pull #367, we are working to reform Speaker Demographics and Attendee Demographics into Event Demographics.

This requires merging the ideas from both previous metrics into an Event Demographics metric.

---

This issue is created to collect comments about the rolling release of "Event Demographics"

This metric can be found here: https://github.com/chaoss/wg-diversity-inclusion/pull/367

See a

[2021-07-22 21:19] klumb commented on #366
Are there metrics associated with these focus areas yet?

[2021-07-22 21:32] klumb commented on #371
https://chaoss.community/metric-event-demographics/

Event Demographics Replaces:
https://chaoss.community/metric-attendee-demographics/
https://chaoss.community/metric-speaker-demographics/"

I will remove these after the review

[2021-07-22 21:34] klumb commented on #370
https://chaoss.community/metric-time-inclusion-for-virtual-events/

[2021-07-25 06:29] nicorikken opened #372 "Metric Idea: Inclusion of Color Blind"
[Color blindness](https://en.wikipedia.org/wiki/Color_blindness) is remarkably common. At work I have seen awkward scenario's where graphs or slides are shown to stakeholders, only to find out they aren't able to distinguish the green and red lines due to their color blindness. I found [this blogpost](https://venngage.com/blog/color-blind-friendly-palette/) to give an elaborate overview of the iss

[2021-07-28 14:00] Nebrethar opened #375 "Under Review: Inclusive Experience at Event"
This issue is created to collect comments about the rolling release of "Inclusive Experience at Event"

This metric can be found here: https://github.com/chaoss/wg-diversity-inclusion/pull/374

See all release candidates: https://chaoss.community/metrics/

## CHAOSS Metric Quality Checklist
This checklist is used for new and updated metrics to ensure we follow CHAOSS quality standards and processe

[2021-08-11 14:14] ElizabethN opened #376 "Under Review: Psychological Safety"
In PR # we are working on an inclusive experience metric.

The goal is to finalize the metric for the 2021-10 release.

[2021-08-20 15:14] GeorgLink commented on #358
I think the DEI WG repo now uses the correct README format.

@yash2002109, can you please confirm that this work is complete and we can close the issue?

[2021-08-20 15:57] yash2002109 commented on #358
Thanks, @GeorgLink,

In discussion with WGs, we decided to remove the meeting details from the README and redirect the user to the Participate section on the website. We also discussed with the community to add the `Chairs` instead of WG-maintainers.

Also, please refer to the template: https://docs.google.com/document/d/1pfipIiaemdtdiDQpvY7jOKhKzsv_3lXLLsbJiByl5GU/edit
to make sure the order in w

[2021-08-20 16:06] GeorgLink commented on #358
Thanks @yash2002109 , we can leave the issue open until the WG has time to address it.

[2021-08-25 15:17] ElizabethN commented on #371
This issue is created to collect comments about the rolling release of "Event Demographics"

This metric can be found here: https://github.com/chaoss/wg-diversity-inclusion/pull/367

See all release candidates: https://chaoss.community/metrics/

## CHAOSS Metric Quality Checklist
This checklist is used for new and updated metrics to ensure we follow CHAOSS quality standards and processes. Below ch

[2021-08-25 15:19] ElizabethN commented on #370
This issue is created to collect comments about the rolling release of "Time Inclusion for Virtual Events"

This metric can be found here: https://github.com/chaoss/wg-diversity-inclusion/pull/368

See all release candidates: https://chaoss.community/metrics/

## CHAOSS Metric Quality Checklist
This checklist is used for new and updated metrics to ensure we follow CHAOSS quality standards and proc

[2021-08-25 15:21] ElizabethN commented on #313
This issue is created to collect comments about the rolling release of "Documentation Discoverability"

This metric can be found here: https://chaoss.community/metric-documentation-discoverability/

See all release candidates: https://chaoss.community/metrics/

## CHAOSS Metric Quality Checklist
This checklist is used for new and updated metrics to ensure we follow CHAOSS quality standards and pro

[2021-09-01 15:18] klumb commented on #376
https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus-areas/project-and-community/psychological-safety.md

[2021-09-01 15:25] klumb commented on #375
https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus-areas/event-diversity/inclusive-experience.md

**Please change the file name to match CHAOSS naming convention. The File name should match the name of the metric.**
Should be this:
https://github.com/chaoss/wg-diversity-inclusion/blob/master/focus-areas/event-diversity/**inclusive-experience-at-event.md**

This will require a chang

[2021-09-01 18:54] klumb commented on #375
Please add the release disclaimer to the top of the metric as well.

[2021-09-03 13:38] Nebrethar commented on #313
Updated to fix errors in formatting i.e. line breaks and list display

[2021-09-03 13:43] Nebrethar commented on #313
This metric does not have a list of contibutors. Also fixed some semicolon typos

[2021-09-03 14:00] Nebrethar commented on #375
@germonprez @klumb I have updated based on your comments and my review is finished.

@ElizabethN Reaching out about publicizing the metric as per checklist recommendation

[2021-09-08 15:26] Nebrethar commented on #313
Continuing without contributor list as per DEI meeting

[2021-09-28 20:58] lucasgonze commented on #376
I propose rewording the question.

Current: "To what extent do community members feel safe within a community, including adding contributions, influencing change, bringing their authentic selves, and general participation within the project?"

Proposed: "To what extent do community members feel safe within a community, including making contributions, influencing change, bringing their authentic se

[2021-09-28 21:14] Nebrethar commented on #376
@lucasgonze Makes sense to me!

[2021-10-06 15:20] Nebrethar opened #379 "inclusive-leadership updates for release"
Breadcrumb trail:

- @germonprez proposed changes in #360
- @jwflory had suggestions for change, also in #360
- @Nebrethar merged the PR
- @germonprez will provide updates based on the suggested changes

[2021-10-06 16:20] Nebrethar commented on #369
I tried at this in #381 😁

[2021-10-06 16:21] #346 closed

[2021-10-06 16:21] Nebrethar commented on #363
Valuable feedback, we need this in the next release!

[2021-10-07 00:18] emmairwin opened #382 "Metric Idea: Decision Making to Governance Focus Area"
In talking about inclusion in OS, and just running a project a question that comes up a lot is, how do we setup for decision making.

I think this should be added to 'governance' under diversity and inclusion metrics, and that one of the resources be:
https://github.com/github/MVG   (there may be more but this is helpful I find to help unstick people).

If you want to give feedback, I can submit a

[2021-10-07 13:38] emmairwin commented on #382
Governance!  (sorry).  Decision making is central in governance, and we have nothing around it yet (that I can see)

https://github.com/chaoss/wg-dei/tree/main/focus-areas/governance#readme

[2021-10-07 14:39] Nebrethar opened #383 "Metric Idea: Contributor Payment Dynamic"
We originally talked about this in #381.

All credit for this idea goes to @emmairwin, and then @germonprez to make an issue, and then @GeorgLink to propose making it a metric! I am only the delivery service 😁

I'm also interested in making this into a metric. I'm not sure what it would look like in detail. Let's have a discussion about it! 🎉

[2021-10-10 22:12] emmairwin commented on #383
totally - I love the Drupal credits system, and that;s great to see our friends at GitLab thinking of this too.
I think this type of functionality is complementary in that it helps projects recognize contributors, but also better understand their ecosystems, this information can help better understand the ecosystem, and make informed decisions.

This was orginal part of diversity metric, but I don

[2021-10-16 17:26] #375 closed

[2021-10-16 17:28] klumb commented on #371
Closing for release

[2021-10-16 17:28] #371 closed

[2021-10-16 17:29] #370 closed

[2021-10-16 17:30] klumb commented on #313
Closing for release

[2021-10-16 17:30] #313 closed

[2021-11-03 15:24] ElizabethN commented on #192
Closing this; can re-open if needed.

[2021-11-03 15:24] #192 closed

[2021-11-03 15:27] ElizabethN commented on #252
@germonprez @emmairwin is it ok to close this issue? I feel like we are addressing this idea in several other places in the CHAOSS project, but I'd like to get your :+1:

[2021-11-03 15:30] ElizabethN commented on #294
Today in the DEI Working Group, we revisited this idea and decided that it still holds value, especially with the review of the older metrics. It would be great to interview others to see where we can improve our DEI metrics and where the areas are that have remained unaddressed. Let's keep this idea alive and revisit early 2022.

[2021-11-03 15:31] ElizabethN commented on #351
Closing this since we had a successful release with all these metrics :tada:

[2021-11-03 15:31] #351 closed

[2021-11-03 15:31] jwflory commented on #369
#381 is merged. Closing this issue as complete! 🌊

[2021-11-03 15:31] #369 closed

[2021-11-03 15:31] ElizabethN opened #389 "Release Notes: 2022-04"
For the April 2022 release.
cc @klumbard

[2021-11-03 15:35] ElizabethN commented on #358
The WG discussed this today, and there are a few PRs that we think addressed this #356 and Issue #346. Going to close this for now, but we can re-open if needed.
cc @GeorgLink @yash2002109

[2021-11-03 15:35] #358 closed

[2021-11-03 15:38] ElizabethN commented on #363
This is in the Code of Conduct for Project, but still needs to be added to the Code of Conduct for Events. We should add it when that metric is reviewed.

[2021-11-03 21:18] Erioldoesdesign commented on #294
Happy to help on this again if it's being re-visited 😄

[2021-11-04 04:52] GeorgLink commented on #358
Thanks for the Ping. I think we are all good for now!

[2021-11-04 05:07] emmairwin commented on #252
Yes!

On Wed., Nov. 3, 2021, 8:27 a.m. Elizabeth Barron, ***@***.***>
wrote:

[2021-12-04 15:20] germonprez opened #393 "Repository Clean Up"
Hi everyone,

I've been updating the speadsheet that we use to track the develop and release of CHAOSS metrics. I recommend that the DEI WG take on the following tasks to get the work in the repository aligned with the speadsheet and how the other WGs work.

Ultimately, the workflow should be:

1) All metrics, in development and releases, should be tracked in the CHAOSS spreadsheet
2) Any metric t

[2022-01-06 14:06] SMotaal commented on #278
@germonprez, my apologies, I've been having a very difficult time keeping up with threads, but I sincerely appreciate all the tremendous effort everyone here is doing meanwhile 🌷

[2022-01-18 16:01] Nebrethar opened #395 "In-Progress: Inclusive Naming Checklist"
_This list was informed by the[ Inclusive Naming Initiative](https://inclusivenaming.org/) to improve the language used in our metrics and documentation. It can be used to assess any documentation for inclusive naming in the CHAOSS GitHub organization._

Hey folks! Here is the first draft of some naming to review in our metrics and documentation. Will discuss in 1/18/2022 community call. I will tr

[2022-01-19 15:49] germonprez opened #396 "Metrics Tracking Work 2022"
# Metrics Review 2022

The evolution working group will be reviewing these released metrics during 2022. We will review for quality, context, and grammar. Following the guidelines developed for the release checklist, we expect most of these will fall under item 3 in the metrics revision checklist, with changes constituting only spelling, grammar, or clarity edits. https://handbook.chaoss.community

[2022-01-19 16:32] Nebrethar commented on #396
Plaintext to copy:

[code]

[2022-01-26 16:28] #252 closed

[2022-01-26 16:30] jwflory commented on #252
This came up in discussion in our DEI working group meeting today. Somewhat related, I am working on capturing open source best practices into a toolkit-like format with my work at UNICEF. You can find the [knowledge-base/toolkit](https://unicef.github.io/inventory/) on GitHub Pages, and there is an [open source website theme](https://github.com/unicef/inventory-hugo-theme) that sort of resembles

[2022-01-26 16:36] ElizabethN commented on #294
In today's DEI call, we discussed the depth of a project like this and that it will be relatively time intensive. It's a big ask to have people schedule, run, and reflect on a set of interviews. We are going to pose this to the DEI Audit team for some guidance and potentially having that team direct this initiative.

[2022-01-26 16:41] ElizabethN commented on #363
@germonprez is starting the review doc for Code of Conduct for Events so we can add this as something we need to add. Going to close this issue 👍

[2022-01-26 16:41] #363 closed

[2022-01-26 16:42] jwflory opened #397 "Propose an issue template for new metric ideas"
# Summary

Create an issue template to structure new metric ideas collected here in this GitHub repo.

# Background

In today's DEI working group meeting, we discussed managing our backlog of GitHub issues and how best to track new metric ideas. While the CHAOSS spreadsheet of metrics is the canonical, singular source of truth for all metrics, it is not the most inviting for new ideas and encourag

[2022-01-26 16:42] jwflory commented on #397
I'm working on this and hope to have a Pull Request for the working group to look at next week on February 2nd!

[2022-01-26 16:48] ElizabethN commented on #366
Added to checklist for reviewing metrics, and will include a statement about what type of event the metric is for, in future metric development for events.

[2022-02-01 18:58] germonprez opened #399 "Project Burnout --> Maintainer Wellness"
Hi everyone,

There is a recommendation from the metrics-model WG to rename the project burnout metric to maintainer wellness.

[2022-02-02 09:33] jwflory commented on #74
I would propose closing this issue or migrating it to another working group. I understand the perspective on inclusiveness, but looking at other metrics we have produced, this feels unusually oriented towards code.

[2022-02-02 12:04] germonprez commented on #74
I agree with this comment. I'm trying to think about where it would even go (other WG). My inclination is to simply close it.

[2022-02-02 12:14] jwflory commented on #74
Since the idea is almost four years old, I think closing it is alright. If it was more recent, I might suggest transferring it elsewhere, but I think it has had a lot of time to be out there.

Closing as `invalid`. 🎬

[2022-02-02 12:14] #74 closed

[2022-02-08 17:30] #397 closed

[2022-02-16 16:08] ElizabethN commented on #294
We talked about this again today, and decided to put this on the back burner for now, only because we do have a lot of metrics already in the queue, and this project could surface even more. We think we should resurface this maybe in about 6 months. It's still an awesome idea!

[2022-02-16 16:08] #379 closed

[2022-02-16 16:17] Nebrethar opened #400 "Google Summer of Code Idea: Inclusive Naming"
## From the [GSOC Ideas Document ](https://github.com/chaoss/community/edit/main/GSoC-Ideas.md)

TBD

[2022-02-23 15:28] ElizabethN commented on #240
We have added many of these considerations into our soon-to-be released [Event Accessibility Metric](https://docs.google.com/document/d/1HfU5Xloq7X_UQMNqdvSSX2k6AoDIx8rdbWCb3Ar8m7M/edit). Thanks again for bringing this up @amcasari!

[2022-02-23 15:29] ElizabethN commented on #361
We have included these ideas in our [Event Accessibility Metric](https://docs.google.com/document/d/1HfU5Xloq7X_UQMNqdvSSX2k6AoDIx8rdbWCb3Ar8m7M/edit). Thanks @germonprez!

[2022-02-23 15:32] ElizabethN commented on #372
@nicorikken we have added these considerations to our [Event Accessibility Metric](https://docs.google.com/document/d/1HfU5Xloq7X_UQMNqdvSSX2k6AoDIx8rdbWCb3Ar8m7M/edit), and included a link to the blog post you mentioned, under the "references" section of the metric. Thanks again for bringing this up!

[2022-02-23 15:33] #361 closed, assigned to nobody

[2022-02-23 15:38] ElizabethN opened #401 "New Metric: Event Accessibility"
This issue is created to collect comments about the rolling release of "Event Accessibility"

This metric can be found here: https://github.com/chaoss/wg-dei/blob/main/focus-areas/event-diversity/event-accessibility.md

See all release candidates: https://chaoss.community/metrics/

## CHAOSS Metric Quality Checklist
This checklist is used for new and updated metrics to ensure we follow CHAOSS qual

[2022-02-23 15:56] germonprez opened #402 "New Metric: Project Demographics"
This issue is created to collect comments about the rolling release of "Project Demographics"

This metric can be found here: https://github.com/chaoss/wg-dei/blob/main/focus-areas/project-and-community/project-demographics.md

See all release candidates: https://chaoss.community/metrics/

## CHAOSS Metric Quality Checklist
This checklist is used for new and updated metrics to ensure we follow CHA

[2022-02-23 16:23] Nebrethar commented on #399
I'm a little worried the differentiation between [Project Burnout->Maintainer Wellness](https://github.com/chaoss/wg-dei/blob/main/focus-areas/project-and-community/project-burnout.md) and [Psychological Safety](https://github.com/chaoss/wg-dei/blob/main/focus-areas/project-and-community/psychological-safety.md) will be blurred.

[2022-02-24 17:19] germonprez commented on #389
Project Demographics as a new DEI metric: https://github.com/chaoss/wg-dei/pull/403

[2022-02-28 16:56] ElizabethN commented on #401
PR for this metric is here: https://github.com/chaoss/wg-dei/pull/404

[2022-02-28 16:57] ElizabethN commented on #389
Event Accessibility as a new DEI metric: https://github.com/chaoss/wg-dei/pull/404

[2022-03-02 16:30] germonprez commented on #395
Now this is a great idea for GSoD.

[2022-03-02 16:35] germonprez commented on #396
@germonprez, @klumb  and @ElizabethN are going to be looking at the WG list of metrics and starting the work of adding disclaimers to older metrics.

[2022-03-02 20:33] klumb commented on #402
Please add this to the focus area readme

[2022-03-02 20:41] klumb commented on #401
Please add this metric to the focus area readme

[2022-03-02 23:14] germonprez commented on #402
Done! @klumb

[2022-03-02 23:18] germonprez commented on #401
Done! @klumb

[2022-03-02 23:20] ElizabethN commented on #401
Oh I did it too lol https://github.com/chaoss/wg-dei/pull/405. Should I just close this PR?

[2022-03-02 23:21] germonprez commented on #401
I already closed it :)

On Wed, Mar 2, 2022 at 5:20 PM Elizabeth Barron ***@***.***>
wrote:

--

Mutual of Omaha Distinguished Chair of Information Science & Technology
Professor of Information Systems and Quantitative Analysis
College of Information Science & Technology
University of Nebraska Omaha
CV: https://bit.ly/2kftONr

Vice President
Omaha Parks Foundation

CHAOSS Board Member
https://chao

[2022-03-09 15:08] jwflory commented on #294
@germonprez Seems like a good idea. Will there be an official CHAOSS presence there, either through speakers or with a booth? This could be one way to facilitate engagement around the interviews.

[2022-03-09 15:37] germonprez commented on #294
Yes. We are going to have a 1/2 day CHAOSScon in Dublin. So there should be a few of us there.

[2022-03-09 18:25] jwflory commented on #294
@germonprez Super. Then I think as part of the CHAOSScon, it would make sense to include this as part of the event planning to think on how we engage folks there. Especially if we have newcomers who are new to the project and our work.

[2022-03-15 16:14] geekygirldawn commented on #402
This looks like a great metric! I have a few minor suggestions, mostly related to formatting.

The "Implementation" section has some odd formatting - I don't think it should be bold, and it seems to be missing a link in that section as well.

Under "Filters", I'm not sure where this is "Demographics as described in the CHAOSS repository of demographic data"? Can we add a link?

"Contributors" also

[2022-03-16 15:22] germonprez commented on #402
@germonprez will update the metric and ping translations with any updates.

[2022-03-16 15:33] germonprez commented on #254
This issue is created to collect comments about the rolling release of "Project Demographics"

This metric can be found here: https://github.com/chaoss/wg-dei/blob/main/focus-areas/project-and-community/project-demographics.md

See all release candidates: https://chaoss.community/metrics/

## CHAOSS Metric Quality Checklist
This checklist is used for new and updated metrics to ensure we follow CHA

[2022-04-10 20:24] klumb opened #409 "Empty metrics files - please delete or move toward review"
# Summary
Empty metrics files - please delete or move toward review

# Background
The repo should only contain released metrics. Work in progress metrics are worked on in external collaborative documents. Ideas for metrics can be discussed in issues and added to the metrics spreadsheet when work begins. The PR for a metric into a repo is one of the signals that a metric is ready for release.

# De

[2022-04-10 20:24] klumb commented on #409
https://github.com/chaoss/wg-dei/blob/main/focus-areas/communication-inclusivity/alternatives.md

[2022-04-10 20:25] klumb commented on #409
https://github.com/chaoss/wg-dei/blob/main/focus-areas/communication-inclusivity/captioning.md

[2022-04-10 20:25] klumb commented on #409
https://github.com/chaoss/wg-dei/blob/main/focus-areas/communication-inclusivity/listening.md

[2022-04-10 20:26] klumb commented on #409
https://github.com/chaoss/wg-dei/blob/main/focus-areas/communication-inclusivity/mode-alternatives.md

[2022-04-10 20:26] klumb commented on #409
https://github.com/chaoss/wg-dei/blob/main/focus-areas/communication-inclusivity/speaking.md

[2022-04-10 20:26] klumb commented on #409
https://github.com/chaoss/wg-dei/blob/main/focus-areas/communication-inclusivity/technical-jargon.md

[2022-04-10 20:27] klumb commented on #409
https://github.com/chaoss/wg-dei/blob/main/focus-areas/contributor-community-diversity/collaboration-style.md

[2022-04-10 20:28] klumb commented on #409
https://github.com/chaoss/wg-dei/blob/main/focus-areas/contributor-community-diversity/contribution-sentiment.md

[2022-04-10 20:28] klumb commented on #409
https://github.com/chaoss/wg-dei/blob/main/focus-areas/contributor-community-diversity/contribution-type.md

[2022-04-10 20:29] klumb commented on #409
https://github.com/chaoss/wg-dei/blob/main/focus-areas/contributor-community-diversity/perceived-value.md

[2022-04-10 20:36] klumb commented on #409
https://github.com/chaoss/wg-dei/edit/main/focus-areas/governance/code-of-conduct-enforcement.md

[2022-04-10 20:37] klumb commented on #409
https://github.com/chaoss/wg-dei/blob/main/focus-areas/governance/foundation-staff-diversity.md

[2022-04-10 20:38] klumb commented on #409
https://github.com/chaoss/wg-dei/blob/main/focus-areas/governance/team-module-ownership-diversity.md

[2022-04-10 20:40] klumb commented on #409
https://github.com/chaoss/wg-dei/blob/main/focus-areas/project-and-community/channels.md

[2022-04-10 20:45] klumb commented on #409
https://github.com/chaoss/wg-dei/blob/main/focus-areas/project-and-community/response-time-quality.md

[2022-04-10 20:46] klumb commented on #409
https://github.com/chaoss/wg-dei/blob/main/focus-areas/project-and-community/sentiment.md

[2022-04-10 20:46] klumb commented on #409
https://github.com/chaoss/wg-dei/blob/main/focus-areas/recognition-of-good-work/contribution-type.md

[2022-04-10 20:47] klumb commented on #409
https://github.com/chaoss/wg-dei/blob/main/focus-areas/recognition-of-good-work/contribution-volume.md

[2022-04-10 20:47] klumb commented on #409
https://github.com/chaoss/wg-dei/blob/main/focus-areas/recognition-of-good-work/recognition-type.md

[2022-04-10 20:47] klumb commented on #409
https://github.com/chaoss/wg-dei/blob/main/focus-areas/recognition-of-good-work/recognition-value.md

[2022-04-12 14:47] germonprez commented on #401
This metric is ready for release.

[2022-04-13 14:27] #409 closed

[2022-04-13 14:29] germonprez commented on #400
What is this issue @Nebrethar? I'm not sure I know what needs to be done.

[2022-04-13 14:39] germonprez commented on #250
I believe we have this covered in the Common Metric. If you would like to add a DEI component to the metric, please make suggestions in the Common Working Group.

[2022-04-13 14:39] #250 closed

[2022-04-17 16:16] #402 closed

[2022-04-17 16:16] #401 closed

[2022-04-19 14:28] LawrenceHecht commented on #399
IMHO, project burnout has nothing to do with Psychological Safety. It has to do with

1. level of exhaustion
2. feeling valued
3. what someone is going to do about these feelings

In this regard, Project Burnout and Psychological Safety are just two components of Maintainer Wellness.

[2022-04-19 21:47] germonprez opened #430 "Revising Metric: Code of Conduct at Event"
### Name of the Metric Being Revised
Code of Conduct at Event
https://chaoss.community/metric-code-of-conduct-at-event/

Submit PRs to this document: https://github.com/chaoss/wg-dei/blob/main/focus-areas/event-diversity/event-code-of-conduct.md

### Link to Original Metric Release Issue
https://github.com/chaoss/wg-dei/issues/184

### Specific Metric Details that Require Attention

- Revisit the

[2022-04-19 21:49] #254 closed

[2022-04-19 21:50] germonprez opened #431 "Revising Metric: Family Friendliness"
### Name of the Metric Being Revised
Family Friendliness
https://chaoss.community/metric-family-friendliness/

Submit PRs to this document https://github.com/chaoss/wg-dei/blob/main/focus-areas/event-diversity/family-friendly.md

### Link to Original Metric Release Issue
https://github.com/chaoss/wg-dei/issues/256

### Specific Metric Details that Require Attention

- Revisit the formatting in the

[2022-04-19 21:53] germonprez opened #432 "Revising Metric: Event Demographics"
### Name of the Metric Being Revised
Event Demographics
https://chaoss.community/metric-event-demographics/

Submit PRs to this document: https://github.com/chaoss/wg-dei/blob/main/focus-areas/event-diversity/event-demographics.md

### Link to Original Metric Release Issue
https://github.com/chaoss/wg-dei/issues/371

### Specific Metric Details that Require Attention

- Description should include

[2022-04-19 21:56] germonprez opened #433 "Revising Metric: Time Inclusion for Virtual Events"
### Name of the Metric Being Revised
Time Inclusion for Virtual Events
https://chaoss.community/metric-time-inclusion-for-virtual-events/

### Link to Original Metric Release Issue
https://github.com/chaoss/wg-dei/issues/370

### Specific Metric Details that Require Attention

- 'Examples of Time Inclusion' should be 'Examples of Time Inclusion for Virtual Events'
- How is 'Network bandwidth' part

[2022-04-30 15:31] pratik2315 commented on #433
Hey @germonprez ! Do you think that this issue is okay to take for newcomers to the chaoss community?

[2022-04-30 15:47] germonprez commented on #433
Yes! I would suggest that you make suggested changes via a PR to address some or all of the notes in this Issue.

[2022-04-30 15:53] pratik2315 commented on #433
Thanks. Ill try my best :)

[2022-05-03 14:16] ElizabethN commented on #433
Here is where the PR should go: https://github.com/chaoss/wg-dei/blob/main/focus-areas/event-diversity/time-inclusion.md
Also, can you change the name of the file to match the name of the metric? (time-inclusion-for-virtual-events.md)

[2022-05-06 02:12] RamyaKappagantu commented on #432
Hi @germonprez and @ElizabethN, I would like to work on this issue. I've started going through the metric and post questions if any.

[2022-05-10 09:24] TejasMate commented on #389
Metric revision: Event Demographics #432

[2022-05-10 19:15] TejasMate commented on #430
Hey @germonprez, one of the reference [Women In Tech Manifesto,](https://manifestedesfemmesentech.com/en/code-of-conduct-template) not pointing anywhere. I try to find on their website, didn't get code of conduct page.

Need to review this

[2022-05-11 04:46] TejasMate commented on #433
Issues solved:
'Examples of Time Inclusion' should be 'Examples of Time Inclusion for Virtual Events'
Update the Likert Scale from [1-5] to [1-x]
Update the references to the actual title
Add date of last review
change file name

Issues unsolved:
How is 'Network bandwidth' part of the metric?
How is 'low bandwidth' part of the metric?
For survey of speakers, why is the second point important?

[2022-05-11 04:48] TejasMate commented on #431
Issues solved
"IF" in the 4th interview question is currently CAPS
Add date of last review
Check out the spreadsheet remark
Change filename to match the name of the metric (family-friendliness.md)

Not solved due to bug in rendering:
Revisit the formatting in the Data Collection Strategy section

[2022-05-13 18:00] emmairwin commented on #399
I agree with @LawrenceHecht but I think what the proposal is, is not that project burn out is ONLY wellness, but rather that currently what we have defined as [project burnout ](https://chaoss.community/metric-project-burnout/) iss  **is only about wellness** , and that this should be renamed for that reason.  That renaming this gives room for those other attributes of burnout which Elizabeth and

[2022-06-01 15:30] #400 closed

[2022-06-01 15:31] germonprez opened #442 "Release Notes: 2022-10"
This issue was created to capture the release notes for 2022-10.

[2022-06-01 15:37] germonprez commented on #395
Could be part of the review process -- Proposal: include in the checklist.